[2016-06-08 02:11] tonycpsu commented on #671
Yes, InoReader...

[2016-06-08 02:12] josh64x2 commented on #670
fixed in pr #668

[2016-06-08 02:12] #670 closed

[2016-06-08 02:13] josh64x2 commented on #669
fixed in pr #668

[2016-06-08 02:13] #669 closed

[2016-06-08 07:17] barijaona commented on #671
Inoreader seems to provide feeds list in chronological order of creation ; this is why the feed order is broken when you let Inoreader drive the recreation of feeds.
You can try exporting your initial subscriptions list from Vienna, and reimport it in a fresh database. In between, have a look at the OPML file in a text editor to check if it seems OK.

[2016-06-08 13:24] tonycpsu commented on #671
Well, I ended up just reordering them manually -- I'll try exporting/importing OPML if this happens again.  I'm more concerned about whatever's causing the sync to stop working until messages.db is removed.

[2016-06-09 02:18] barijaona commented on #671
Did you try reindexing the database ?

[2016-06-09 02:52] tonycpsu commented on #671
No, I didn't even know that was an option, but I see it there in the application menu now.

I'll try that if this happens again.  Thanks.

[2016-06-09 18:50] Hopper262 commented on #663
I was not able to find any N or space key regressions remaining in RC 2. Thanks!

To me, it's unintuitive that the N key will favor unread articles in the same feed/folder, sometimes jumping "backward" in the visible list rather than always progressing "forward" and dropping off the end to the next item. However, it's not a concern when I'm reading normally and not testing bugs, as I can't remembe

[2016-06-09 18:50] #663 closed

[2016-06-09 19:00] Hopper262 opened #672 "Restore full screen state when Vienna launches"
I run Vienna full screen in its own Space. When I quit and relaunch Vienna (which happens on a restart or a version update), it would be nice if it reopened the main window into a Space, instead of opening on the desktop and requiring me to manually click the zoom button.

[2016-06-10 12:47] jfml opened #673 "Feed Icon in List View"
Loving Vienna but it'd be really cool to have the feed's icon next to individual posts in the list view (not sure if that's the correct name, so maybe another column next to the flag/new/attachment-states or integrate them into the headlines), because I have Smart Folder that displays all unread news and it would be so much quicker to have the icon to know which feed it is than having to read the

[2016-06-11 09:25] gawdalmighty opened #674 "v3.1.4 has stopped updating feeds. Possible database issues?"
I can't log in to your support forum because it keeps asking a security question about who made the software?
I have no idea. And I can't find this information anywhere?
What the hell?? How does anybody ever manage to sign up to those forums???
Anyway, Vienna has stopped working. It hasn't updated any of my feeds since the end of April but it just keeps telling me everything is up to date. No erro

[2016-06-11 10:32] barijaona commented on #674
Which version are you runnning ?

[2016-06-11 10:34] gawdalmighty commented on #674
3.1.4

From:  Barijaona Ramaholimihaso <notifications@github.com>
Reply-To:  ViennaRSS/vienna-rss <reply@reply.github.com>
Date:  Saturday, 11 June 2016 at 8:32 PM
To:  ViennaRSS/vienna-rss <vienna-rss@noreply.github.com>
Cc:  admin <adam@rattlingtram.melbourne>, Author <author@noreply.github.com>
Subject:  Re: [ViennaRSS/vienna-rss] What the hell is going on (#674)

Which version are you runnning

[2016-06-11 10:36] barijaona commented on #674
I am afraid your database got damaged. Try the « Vienna -> Reindex database » menu item.

[2016-06-11 10:38] barijaona opened #675 "Enclosure “Open” button does not work if the enclosure URL has a query part"
As reported here http://forums.cocoaforge.com/viewtopic.php?t=26856&p=139515

[2016-06-11 10:42] gawdalmighty commented on #674
I’ve tried that several times and restarting. Still nothing.

From:  Barijaona Ramaholimihaso <notifications@github.com>
Reply-To:  ViennaRSS/vienna-rss <reply@reply.github.com>
Date:  Saturday, 11 June 2016 at 8:36 PM
To:  ViennaRSS/vienna-rss <vienna-rss@noreply.github.com>
Cc:  admin <adam@rattlingtram.melbourne>, Author <author@noreply.github.com>
Subject:  Re: [ViennaRSS/vienna-rss] What the

[2016-06-11 11:03] JanX2 commented on #674
Maybe the database file is just locked or read-only for some reason.

[2016-06-11 13:06] barijaona opened #676 "Refreshing from FeedHQ server misses some articles"
As described here : http://forums.cocoaforge.com/viewtopic.php?t=26853&p=139513

[2016-06-12 00:05] gawdalmighty commented on #674
Maybe it is.

So, no info about what to do about this if it’s the case then???

From:  Jan <notifications@github.com>
Reply-To:  ViennaRSS/vienna-rss <reply@reply.github.com>
Date:  Saturday, 11 June 2016 at 9:03 PM
To:  ViennaRSS/vienna-rss <vienna-rss@noreply.github.com>
Cc:  admin <adam@rattlingtram.melbourne>, Author <author@noreply.github.com>
Subject:  Re: [ViennaRSS/vienna-rss] What the hel

[2016-06-12 01:31] barijaona commented on #674
Two options :
- restart anew : export your subscriptions, quit Vienna, remove the database (at `~/Library/Application Support/Vienna/messages.db`), relaunch Vienna and reimport your subscriptions
- upload your database somewhere and send me a link (barijaona at gmail dot com) in order to allow me to investigate

[2016-06-12 01:38] gawdalmighty commented on #674
OK well looks like this is the problem. There is no folder entitled “Vienna" at ~/Library/Application Support/

Is there any way to force the program to rebuild or create this?

From:  Barijaona Ramaholimihaso <notifications@github.com>
Reply-To:  ViennaRSS/vienna-rss <reply@reply.github.com>
Date:  Sunday, 12 June 2016 at 11:31 AM
To:  ViennaRSS/vienna-rss <vienna-rss@noreply.github.com>
Cc:  adm

[2016-06-12 01:42] barijaona commented on #674
??? But you see your subscriptions list when you launch Vienna ?

Please zip and upload your preferences file (it should be in `~/Library/Preferences/uk.co.opencommunity.vienna2.plist`)

[2016-06-12 01:46] gawdalmighty commented on #674
Yes I do. There is also no file in that location either.

From:  Barijaona Ramaholimihaso <notifications@github.com>
Reply-To:  ViennaRSS/vienna-rss <reply@reply.github.com>
Date:  Sunday, 12 June 2016 at 11:42 AM
To:  ViennaRSS/vienna-rss <vienna-rss@noreply.github.com>
Cc:  admin <adam@rattlingtram.melbourne>, Author <author@noreply.github.com>
Subject:  Re: [ViennaRSS/vienna-rss] What the hell

[2016-06-12 01:52] barijaona commented on #674
Are you sure you are not confusing `~/Library`(in your home directory) and `/Library` (at the root of your hard disk) ?
The easiest way is to use Finder's ‘Go to Folder…’ menu item (or the Command+Shift+G keyboard shortcut)

[2016-06-12 02:06] gawdalmighty commented on #674
No. I’m not sure of that but I still can;t find the other folders you’re talking about.

But if you mean there should be a folder called “Library” under my username then there isn’t.

Searching for “Library” as you suggest ONLY brings up a folder on my Hard Drive.

From:  Barijaona Ramaholimihaso <notifications@github.com>
Reply-To:  ViennaRSS/vienna-rss <reply@reply.github.com>
Date:  Sunday, 12

[2016-06-12 02:16] gawdalmighty commented on #674
OK, the Library folder DOES exist, but it is hidden I the latest versions of Mac OS.
http://osxdaily.com/2014/12/16/show-user-library-folder-os-x-yosemite/

Is this maybe the reason my database has stopped working?

From:  Barijaona Ramaholimihaso <notifications@github.com>
Reply-To:  ViennaRSS/vienna-rss <reply@reply.github.com>
Date:  Sunday, 12 June 2016 at 11:52 AM
To:  ViennaRSS/vienna-rss <v

[2016-06-12 02:18] marchyman commented on #674
On Jun 11, 2016

It’s there.  Apple hides it. Open a finder window.  Open the Go menu.   Hold down the option key.   Library will be added as a choice as long as the option key is held.  Select it.

[2016-06-13 17:01] barijaona commented on #676
Seems that, for FeedHQ, the `ot=` parameter (which is an Unix epoch) will exclude articles which are _dated_ before the parameter but _retrieved_ after it.

Other OpenReader services will refer to the date/time at which they received the article (Google Reader marked it with an `gr:crawl-timestamp-msec` attribute), but FeedReader behavior is different.

[2016-06-13 17:33] tonycpsu commented on #671
This happened again.  I tried the "remove database, import OPML, re-sync" procedure but this seems to disconnect the feeds from InoReader -- it only pulls down 15-25 articles per feed, with none of my read/marked status.  I tried toggling openreader on/off to get it syncing through InoReader but it wouldn't work.

To get the feeds syncing through InoReader, I have to remove the database again, the

[2016-06-15 13:20] barijaona commented on #648
As explained [here](https://forums.developer.apple.com/thread/21282), having a `- (NSArray *)webView:(WebView *)sender contextMenuItemsForElement:(NSDictionary *)element defaultMenuItems:(NSArray *)defaultMenuItems` method disturbs the 'Share' submenu.

Apple bug ?

[2016-06-15 13:22] phiw13 opened #678 "Unable to mark (some) article as read"
Version 3.1.5 RC 2 :426005d:

This is something really random, but happens at least once a day (usually when Vienna has been running for quite few hours).

I select an article in a smart folder (e.g. ‘today’), start reading. But it doesn’t get marked as read. Going to the feed it self and selecting the same article doesn’t mark as read either. What is more weird, if I then go to another feed or fo

[2016-06-19 02:05] acrudolph opened #679 "Subscriptions disappeared"
I am using a Mac computer (OS X 10.11.5) with Vienna 3.1.4. When I restarted by computer and went to Vienna, none of my subscriptions appear.

I synch with FeedHQ so I checked the preferences to make sure that it was set up properly. I tried to reindex the database in Vienna without success.

I went to FeedHQ to make sure my account is current (which it as) and I could see my RSS subscriptions in

[2016-06-19 17:33] barijaona commented on #671
barijaona at gmail dot com

[2016-06-20 05:39] barijaona commented on #678
Can you verify if the issue is still present in version 3.1.5 ?

[2016-06-20 05:39] #676 closed

[2016-06-20 05:39] #675 closed

[2016-06-20 05:39] barijaona commented on #675
Fixed in 3.1.5

[2016-06-20 05:39] barijaona commented on #676
Fixed in 3.1.5

[2016-06-20 08:26] phiw13 commented on #678
Sure, now testing. I’ll wait a couple of days to be certain given how random that issue cropped up here.

[2016-06-21 00:12] marchyman commented on #636
This issue is back in v/3.1.5.

[2016-06-21 01:59] phiw13 commented on #678
Unfortunately, it doesn’t seem to be (fully fixed):

Today, I clicked on a folder (“Apple”) containing 3 feeds from the fruit company. The badge on the folder noted 2 unread articles. I clicked on both - then noticed none were marked read. I then opened the folder, clicked on the feed to see the articles (again), but it was not possible to mark them as read - the articles themselves lost their blu

[2016-06-21 03:39] acrudolph commented on #679
I should also mention that I am not getting any error message when I start up Vienna or click the refresh button. There's nothing there. Also, I installed nothing on my computer that changed Vienna from working to all of a sudden not having any subscriptions.

[2016-06-21 03:41] sjmills opened #681 "Marking last article read changes folder selection"
I keep a smart folder named "_Unread Articles" at the top for all unread articles. That's the folder I keep selected. After spacebarring through all articles and the last one gets marked as read, Vienna 3.1.5 is now changing the selected folder from that one to the parent folder of that last article. I believe it started doing this with the previous release. It was fine a couple weeks ago.

It's p

[2016-06-21 04:30] marchyman commented on #681
That sounds like a dup of #636 which was just re-opened.

[2016-06-21 04:32] josh64x2 commented on #636
@marchyman can you please confirm which version of macOS you're using?
Thanks!

[2016-06-21 04:43] marchyman commented on #636
On Jun 20, 2016, at 9:32 PM, Josh <notifications@github.com> wrote:

10.11.5.  I compiled vienna using Xcode 7.3.1.

Marc

[2016-06-25 07:50] dsilhavy commented on #679
Same problem for me on MAC OSX , already tried to use the development version 3.1.5, but same problem. Reinstalling is not helping either.

[2016-06-27 09:25] JayBrown opened #682 "[BUG] Preferences content not showing / crashes"
I have secondary error reports enabled for my system, which don't produce a crash right away, but show an error message nonetheless. When trying to access Vienna's preferences, OS X tells me that "an uncaught exception was raised", and in Preferences I can't see the contents of the "General tab". When I click on it, when coming from a different tab (which are fine btw), the same error messages app

[2016-06-28 02:43] phiw13 commented on #678
Status update since my last comment above: Vienna has been running for 3 days without quitting it (twice) and without this issue appearing. Until today that is. Trying to mark an article as read failed (in my “today” smart folder). Console did’t log anything relevant at that moment.

One note though: my iMac was running under heavy load and a bit sluggish (ahem); Spotlight in particular was sloooo

[2016-07-01 23:52] barijaona commented on #658
Not completely fixed in 3.1.5. See http://cocoaforge.com/viewtopic.php?f=18&t=26842#p139538

[2016-07-06 08:04] JayBrown commented on #682
Here's a screengrab of the empty General tab in Preferences:

http://i.imgur.com/iLPZlv2.png

[2016-07-07 01:27] barijaona commented on #678
Vienna's smart folders are not using Spotlight.
Please, if the problem reappear, launch Activity Monitor and take some screenshots, especially of the "memory" tab.

[2016-07-07 03:59] barijaona commented on #682
Can you check if you encounter the same problem with version 3.1.3 ? You can get it at https://github.com/ViennaRSS/vienna-rss/releases/tag/v%2F3.1.3

An aside remark : it's more convenient to zip and upload here the crashlog (it should be in ~/Library/Logs/DiagnosticReports/) rather than posting all of its content here.

[2016-07-07 08:41] JayBrown commented on #682
In v3.1.3 everything's fine.

[2016-07-07 23:30] barijaona commented on #658
Fixed by commit b31d75d6d4315f84ecc4de04a76711f3bfdf536c

[2016-07-08 03:11] phiw13 commented on #678
Ok. my bad memory.

So I haven’t seen this issue since my last comment above. Until this morning. I was arrowing down the list in my “today” smart folder, articles being as read on the way. Later I noticed that one article was still in the list, while I’m sure it should not be there – I actually read the article… the slight time delay before an article is marked read (set in preferences) would sur

[2016-07-08 04:09] barijaona commented on #678
Can you provide us with a screenshot of the General preferences ? And do you use an OpenReader reader ?

[2016-07-08 04:49] phiw13 commented on #678
No; never have.

![vienna-prefs](https://cloud.githubusercontent.com/assets/8944809/16677627/b8f7d08a-4512-11e6-845e-962d3d1240a8.png)

[2016-07-09 00:54] barijaona commented on #682
Can  you try the attached version ?
[ViennaPreferencesTest.tar.gz](https://github.com/ViennaRSS/vienna-rss/files/355326/ViennaPreferencesTest.tar.gz)

[2016-07-09 07:10] JayBrown commented on #682
Still the same bug: empty "General" tab in Prefs, raised exception etc. This version of Vienna (like the previous crashed version) also feels more sluggish than v3.1.3.

http://i.imgur.com/DfHHiVt.png

[code]

Report for manual crash:

[Vienna_2016-07-09-090137.crash.zip](https://github.com/ViennaRSS/vienna-rss/files/355454/Vienna_2016-07-09-090137.crash.zip)

[2016-07-09 23:07] barijaona commented on #682
Try this another one.
[ViennaTestPreferences2.tar.gz](https://github.com/ViennaRSS/vienna-rss/files/355788/ViennaTestPreferences2.tar.gz)

[2016-07-10 07:35] JayBrown commented on #682
This one works. No error messages, Preferences window shows right away, and the contents of the "General" tab are indeed now visible again. Thank you!

[2016-07-10 07:35] #682 closed

[2016-07-10 09:08] barijaona commented on #682
You're welcome. Changes will be included in the next Beta.

Would you please provide me with a screenshot of the General preferences tab, showing the content of the "Default RSS Reader" popup menu ?

I guess some of the apps you use are not located in the /Applications folder ? May be in an external volume ?

[2016-07-10 19:01] JayBrown commented on #682
Here's the screengrab: only Vienna is in the list. I had tested a couple of other RSS readers a year ago or so, but I trashed them all. (Nothing beats Vienna.) There are no traces of them left on my system. (I always use CleanApp plus another scan using EasyFind to uninstall software.) I do, however, use the Syndicate Safari extension to get a website's RSS feed. (But in Safari itself there are no

[2016-07-12 23:06] josh64x2 opened #691 "Remove TUAW from Vienna's default subscriptions"
It now redirects to some AOL feed of non-Apple related stuff. Probably best to replace with six colours or something?

[2016-07-16 06:06] josh64x2 commented on #227
Also linked to #693

[2016-07-16 16:48] jesse-c commented on #691
Six Colors seems like a safe/neutral choice. I've just started using Vienna so I wouldn't mind making such a tiny contribution. 😂

[2016-07-17 09:54] ehlers opened #696 "Endless loop on Skip folder, when no articles are unread"
Version 3.1.6 RC 1 :1cdc5ae:

When no articles are unread and I activate the "Skip folder" function Vienna gets into an endless loop. It gets unresponsive and the spinning beach ball is shown.

I managed that in two ways:
- Use the hot key shift-cmd-S, when no articles are unread
- When only one article is unread and I use the "Skip folder" button to go to it. After a short delay that article is m

[2016-07-20 13:11] ayank308 opened #700 "Handling of scheme-less URIs violates RFC 3986"
When transforming a scheme-less relative URI such as :

    <img src="//example.com/cute_cat.jpg>

Vienna prepends a `file:` protocol type. This violates section 5.2 of RFC 3986, which says that if a relative URI does not specify a scheme, then when constructing a target absolute URI the parser should prepend the scheme of the base content. That is, prepend `https:` if the base content was loaded

[2016-07-20 14:33] barijaona commented on #700
Issue reported [at cocoaforge](http://cocoaforge.com/viewtopic.php?f=18&t=26872).

The most sensible solution is to keep a [file URL as the base URL](http://stackoverflow.com/questions/464416/how-to-show-a-local-image-in-the-webview?rq=1), but to add a `<base href="http(s):// ..." >` in the head of the HTML we load.

[2016-07-20 23:29] #691 closed

[2016-07-21 06:58] josh64x2 commented on #696
Closed by PR #697

[2016-07-21 06:58] #696 closed

[2016-07-21 07:28] josh64x2 commented on #700
I have confirmed that #701 fixes this... but wow, that one feed makes Vienna consume A LOT of RAM!!

[2016-07-21 07:28] #700 closed

[2016-07-21 07:31] josh64x2 commented on #659
Hrm I might be able to finally test this out.

[2016-07-24 11:40] johnrclarke commented on #601
I have a possibly related problem in v3.1.5 on OS/X 10.9.5 that occurs on many different feeds with unread articles.  The simplest example I have is a feed with an unread article from 6th May 2016 and another from 20th October 2014 (with many articles in between the two).  When I first select the feed, I can see both unread articles.  If I move down to the next feed then back again, I can only see

[2016-07-24 14:15] barijaona commented on #601
Yes, a database could help. Zip it, upload it somewhere and send me a link at barijaona dot gmail dot com

[2016-08-03 09:24] sebkirche opened #704 "articles duplicated on refresh"
Hi,

I have an issue with only one of my subscribed feeds: on every automatic refresh all subjects are duplicated, resulting after some time with hundreds of articles, while there is currently only 10 articles available when adding the feed in Vienna.

The feed's url is http://rosasm.freeforums.org/feed.php it's a phpBB forum where I have an account but it is not filled in the feed's authenticatio

[2016-08-17 04:15] barijaona commented on #601
@josh64x2 do you still have a 10.8 or 10.9 configuration ? Have you tested it and did you notice something similar ?

[2016-08-17 07:05] josh64x2 commented on #601
Ohh I do still have one but I haven't tested this issue on it. I will set a reminder

[2016-08-18 02:52] barijaona commented on #601
@johnrclarke , can you try the attached build ? I slightly changed the code in order to sync more tightly database and memory updates.
[Viennatest616-678.tar.gz](https://github.com/ViennaRSS/vienna-rss/files/424043/Viennatest616-678.tar.gz)

[2016-08-18 05:19] johnrclarke commented on #601
Thanks, I've tried it but it didn't change the behaviour.

[2016-08-18 08:01] josh64x2 commented on #601
So I tried it on 10.8.5 and I couldn't reproduce as per the video. However, it does show 1 article unread and when I filter to only show the unread articles the filter is blank.

Installing a 10.9 system now to test as well...

[2016-08-20 09:49] josh64x2 commented on #601
Sorry, I had a little delay. Hopefully can finish this by the end of the weekend!

[2016-08-21 03:01] josh64x2 commented on #601
Also unable to reproduce with 10.9 😦
Any ideas?

[2016-08-21 05:22] josh64x2 commented on #704
Adding note from [forum message](http://forums.cocoaforge.com/viewtopic.php?t=26885&p=139602#p139602) that system is 10.11.6 and current Vienna is Version 3.1.6 RC 2 :dad2429:

[2016-08-21 05:24] josh64x2 commented on #704
Hi,

I've added this feed to my subscriptions and I'll keep an eye on it to see if I get duplicated messages too.

Thanks!

[2016-09-02 01:49] phiw13 commented on #678
I haven’t been able to reproduce the issue any more running the latest beta build: Version 3.1.6 RC 2 :dad2429:

[2016-09-02 09:41] josh64x2 commented on #678
OK thanks for the update!

[2016-09-02 09:41] #678 closed

[2016-09-03 01:46] josh64x2 commented on #704
OK I've started getting the duplicated messages so hopefully will be able to sort this out.

[2016-09-03 05:54] josh64x2 commented on #704
OK it looks like the issue is with the feed itself. Yes it is a valid feed, but the `<id>` for each post keeps changing. Here is an example of what it looks like in the database.
[code]

The `<id>` is the bit before the `|` symbol, and the title follows after. You can see they all have the same title and first part of the `<id>` is the same, but the `sid=` part of the `<id>` keeps changing.

[2016-09-10 00:15] josh64x2 commented on #425
Not important any more... we can revisit later if someone else needs this.

[2016-09-10 00:15] #425 closed

[2016-09-11 22:38] rgrg1 commented on #679
I have the same exact problem.  Mac OS X 10.11.6 El Capitan with Vienna 3.1.5
I went to read my feeds and they were all gone, including the Vienna subscription.  Also couldn't get into Vienna Forum.  Said I was answering the question wrong about who makes Vienna.  If it won't work is there anyway to get a list of my subscriptions?  I can't remember all of the names of the feeds.  Please help.

[2016-09-12 10:02] acrudolph commented on #679
I never did find the solution to this problem, leaving Vienna totally unusable. Very frustrating!

[2016-09-12 22:00] josh64x2 commented on #679
Sorry that this issue has gone on for so long. Can you please try [Vienna 3.1.6 RC2](https://github.com/ViennaRSS/vienna-rss/releases/download/v%2F3.1.6_rc2/Vienna3.1.6_rc2.tar.gz) and let me know if this solves your problem?

[2016-09-13 11:31] acrudolph commented on #679
It still doesn’t work :(

[2016-09-13 22:46] josh64x2 commented on #679
OK, so FeedHQ has all of your subscriptions still and none of them are showing in Vienna is that right? I will create a FeedHQ account for testing.

[2016-09-13 22:57] acrudolph commented on #679
Hi Josh,

That is correct. It was all working wonderfully and then it just topped. I’ve checked my FeedHQ account and it’s still active. I used Feedler HQ for my iPhone and the syncing still works. I’ve checked the preferences in Vienna and it’s all good. I’ve reinstalled Vienna countless times. I’ve reindexed the database in Vienna. I’ve run out of things to do. I can’t even set up a local feed.

[2016-09-14 04:40] josh64x2 commented on #679
That's OK!
Are you able to send me a copy of your Vienna database and preferences? You can find them in `~/Library/Application Support/Vienna/`. It would help a lot 😄

[2016-09-14 04:53] acrudolph commented on #679
I can’t find a library folder. When I do a search on the computer of ‘vienna’ the only  thing that comes up is the Vienna application and no folder.

I forgot to mention in my emails that I’m using a Mac computer  OS X El Capitan Version 10.11.6.

Please advise.

Thanks again for your help in this matter. I would love to return to Vienna!

Kind regards,

Adrienne

[2016-09-14 05:39] josh64x2 commented on #679
I've made a screen capture video to show you how to create the messages.db.zip file and the vienna preferences file. https://app.box.com/s/x9jbaj6fcv8a59na5agc18oek3nu3r2f

Hopefully it helps :)

[2016-09-14 19:00] DavidMunch opened #709 "Updated danish localization per 3.1.6rc2"
As per title.

Attached updated da.lproj folder.
[da.lproj.zip](https://github.com/ViennaRSS/vienna-rss/files/473257/da.lproj.zip)

[2016-09-16 04:05] barijaona commented on #709
Thanks for this.
Could you also adapt Interfaces/Preferences/da.lproj ?

I also noticed some untranslated strings near the end of lproj/da.lproj/Localizable.strings

[2016-09-16 10:39] DavidMunch commented on #709
Ah yes, I see I missed several strings. Will do them this weekend.

I am unsure as to where I locate Interfaces/Preferences/da.lproj?

[2016-09-16 10:42] josh64x2 commented on #709
https://github.com/ViennaRSS/vienna-rss/tree/master/Interfaces/Preferences/da.lproj :)

[2016-09-16 10:43] DavidMunch commented on #709
Thanks a ton!

[2016-09-16 20:06] DavidMunch commented on #709
Updated Localizeable.strings:
[Localizable.strings.zip](https://github.com/ViennaRSS/vienna-rss/files/477543/Localizable.strings.zip)

How do I edit the interfaces/preferences/da.lproj files, as I am not very familiar with Github? I edited one .strings file, which was created on a separate github branch, which is fine I guess. But the next .strings file i tried to edit opened a file browser instea

[2016-09-18 00:05] josh64x2 commented on #709
You shouldn't need to edit the xib files, I will run a script which reads in the .strings files and generates new xibs from that.
We are hoping to improve this process but there is so much that needs doing for poor Vienna :(

[2016-09-18 00:16] josh64x2 commented on #674
Also having the Library folder hidden doesn't impact the operation of Vienna, it is only hidden from the user interface and not from code. Did you manage to resolve this @gawdalmighty ?

[2016-09-18 00:24] josh64x2 commented on #679
@acrudolph Did the video help you find the messages.db file?

[2016-09-18 02:11] rgrg1 commented on #679
My husband did something, I'm not sure what and got it to work again. Thank you.

Sent from my iPhone

[2016-09-18 06:14] josh64x2 commented on #679
@dsilhavy are you still having this issue?

[2016-09-18 07:37] acrudolph commented on #679
Hi Josh,

I haven’t had a chance to watch it. Will do so this evening.

Best wishes

Adrienne

[2016-09-18 19:12] dsilhavy commented on #679
@josh64x2 Actually deleting this folder ~/Library/Application Support/Vienna/ worked for me. Looks like the database was corrupt. Still I think it might be useful to add that to the UI, as reinstall did not work for me. Thanks for your help

[2016-09-19 05:22] thongngo opened #710 "Vienna interpret the content of some texts as script instead of displaying them"
Hi Team,

I found a XSS vulnerability in Vienna 3.1.5 and lower version.

Vienna parses the html content and executes the javascript code without sanitizing (even the original website has already encode html special chars - by htmlentity function, for example).

![vienna_xss_1](https://cloud.githubusercontent.com/assets/5011906/18623101/64e5535c-7e63-11e6-928f-fcf416716560.png)

<img width="726" a

[2016-09-19 05:38] thongngo commented on #710
Just saw the 'Enable javascript in the internal browser' function.
If it was enabled by default, it's quite dangerous.

[2016-09-19 11:55] josh64x2 commented on #710
Hi @thongngo, thanks for reporting this! Do you have any ideas on how we should fix this?

[2016-09-19 13:39] walterdolce commented on #710
Hi @josh64x2, I would recommend to have this option disabled by default upon installation. Perhaps it could also be explained why such functionality has been disabled.

[2016-09-19 13:45] walterdolce opened #711 "Ability to import/export via command line"
Hi all, this is more a question rather than an issue.
Is it possible to import/export the subscriptions with Vienna on the command line?

More info regarding this question can be found [here](http://forums.cocoaforge.com/viewtopic.php?f=18&p=139647&sid=2a3a6468e96499cfa592db93bd692b7f#p139647).

Thank you very much.

[2016-09-19 23:32] josh64x2 commented on #711
Hi @walterdolce I would say it is not possible at the moment, however it wouldn't be difficult to implement. Let me have a look at it tonight for you 😄

[2016-09-20 08:23] walterdolce commented on #711
Thanks @josh64x2 !
I think that would be great for users like me which use the app in multiple places and want . I look forward to hearing your thoughts.

[2016-09-29 13:32] walterdolce opened #712 "Ability to share state of read articles across Vienna installations"
Hi, is there a way to import/export the state of the articles I've read?

Example:
- I use Vienna in laptop X and laptop Y
- I use laptop X and receive a notification for a new article "Men go to Mars". Total articles to read counter is at 1.
- I read the article on laptop X. Total articles to read counter is at 0.
- I close laptop X and go home.

Later on..
- I open laptop Y at home.
- I receive

[2016-10-02 02:35] josh64x2 commented on #712
Hi!
Hrm no there isn't, but it's a good idea. Let's set this as a feature request and see if other people upvote it.

[2016-10-02 12:08] walterdolce opened #713 "Strange view pane shown while importing/exporting RSS subscriptions"
Hi all, this started happening all of a sudden. Note the various panes at the bottom of the dialog. Please see screenshot.

<img width="714" alt="screen shot 2016-10-02 at 13 02 09" src="https://cloud.githubusercontent.com/assets/6195629/19020450/189b63cc-88a1-11e6-9c83-eaa07929bd36.png">

FWIW, I upgraded to Sierra a couple of days ago but I can't tell whether this happened before or after the OS

[2016-10-04 16:06] thinmanballad opened #714 "Smart Folder Filter Issue"
version 3.1.6 RC 2
After adding a group of 'subject contains' filters to a smart folder, I added one 'folder is not' filter. Then when I clicked on the smart folder, I receive the same results as my Unread Articles smart folder.

Removing the 'folder is not' filter from the end repopulates the smart folder with the correctly filtered results.

Just a couple general questions.
Are there plans to ho

[2016-10-08 01:26] andlabs opened #716 "Allow choosing between using <published> and <updated> dates per-feed (for YouTube RSS feeds)"
YouTube provides RSS feeds for a channel's uploads in the `<link rel=alternate>` tag of a channel page. The generated RSS has entries which each contain both a `<published>` and an `<updated>` date. For example:

[code]

Right now, Vienna uses the `<updated>` date. The problem is YouTube changes this date whenever **anyone does anything with a video**: watch, comment, like, etc. This means a chann

[2016-10-14 07:33] josh64x2 opened #717 "macOS Sierra compatibility issues"
Discussion here: http://forums.cocoaforge.com/viewtopic.php?f=18&t=26899

![vienna broken of dialog](https://cloud.githubusercontent.com/assets/799345/19611810/2a95a46e-982f-11e6-9296-e05fb9f476fd.jpg)

![vienna broken font selector](https://cloud.githubusercontent.com/assets/799345/19611823/39c7aaf4-982f-11e6-8eda-4e1ca50b6ef7.jpg)

[2016-10-14 21:55] thinmanballad commented on #714
One other thing related to smart folder conditions. I have folders with a **lot** of conditions. If the dialog could be at max the height set by the user with a scroll bar, it would be perfect. As it is now, once my list grows, the dialog grows over application (like a tongue sticking out) and my filter use is pretty much limited to the size or resolution of monitor.

[2016-10-16 07:25] rgrg1 commented on #679
Lost subscriptions again.  Went into Time Machine and found the messages.db and restored.  I would love for it to be stable though because if I don't catch it in time, I lose days of subscription feeds.

[2016-10-25 01:28] josh64x2 commented on #717
Someone has kindly emailed me a patch to fix this issue. It is to do with our `NSSplitView` extensions. I'm doing a little more analysis to see if we even need our extension now that it looks like NSSplitView has the ability to save its layout since Mac OS X 10.5.

[2016-10-27 03:54] #717 closed

[2016-10-27 04:56] josh64x2 commented on #717
@barijaona I'm not sure if we even need to override layout anymore for `NSSplitView`. It looks like it might have had the capability to [autosave the layout](https://developer.apple.com/reference/appkit/nssplitview/1455319-autosavename) since 10.5.

I'm not sure though, what do you think?

[2016-10-28 23:09] josh64x2 opened #721 "[discussion] RFC3229"
This issue is to discuss notes around the implementation of RFC3229.
- http://hastebin.com/jipinipabi.sql
- http://bob.wyman.us/main/2004/09/using_rfc3229_w.html
- https://tools.ietf.org/html/rfc3229

First raised in PR #720 by @aeyoun

[2016-10-28 23:11] da2x opened #722 "Respect `Cache-Control: max-age=<seconds>` when scheduling feed updates"
Don’t schedule updates of feeds until after max-age or the user-configure update value; whichever is later. No need to pull in feeds more often if the feed response header says the cached feed will remain fresh until at least max-age seconds into the future from the time it was last fetched.

There is also the `Expires: <date>` header which specifies an exact date when the feed is expected to be o

[2016-10-30 09:27] barijaona commented on #710
From my point of view, this is not really a "vulnerability".
Apple's Webview security features remain active, so if your macOS version has all current patches, nothing really dangerous could happen.
What is wrong here is that the blog text gets unescaped, therefore gets interpreted by the web browser. This needs a fix.

[2016-10-30 09:51] josh64x2 commented on #710
That's a good point @barijaona

[2016-10-30 09:57] #704 closed

[2016-10-30 09:58] barijaona commented on #679
I will try to add more transaction controls in future versions of Database.m, in order to prevent those problems to appears.

[2016-10-30 10:03] barijaona commented on #709
@josh64x2 , I am interested in knowing more about the scripts you use.

Anything interesting might be useful in the `configs/scripts` folder

[2016-10-30 10:26] DavidMunch opened #724 "3.1.5 + 3.1.6rc2 very crash prone"
Vienna crashes some times upon refreshing all articles. This happens more often than not right after waking the computer from sleep. I sync all instances of Vienna with an account on Bazqux.com.

12 crash logs from 3 different machines running macOS 10.11 or 10.12 attached.
[Vienna 3.1.5 + 3.1.6rc2 crashes.zip](https://github.com/ViennaRSS/vienna-rss/files/560391/Vienna.3.1.5.3.1.6rc2.crashes.zip)

[2016-10-30 11:26] barijaona commented on #724
Not sure, but commits I recently submitted might improve things : commits 679b29a and adacaaf

[2016-10-31 21:36] #709 closed

[2016-10-31 21:38] barijaona commented on #709
Incorporated in 3.1.6

[2016-10-31 21:39] barijaona commented on #713
Can you check if version 3.1.6 improves things ?

[2016-10-31 21:40] barijaona commented on #681
Fixed in 3.1.6

[2016-10-31 21:40] #681 closed

[2016-10-31 21:41] barijaona commented on #658
@ruurd, can you verify if 3.1.6 fixes this ?

[2016-11-01 08:25] walterdolce commented on #713
I already have 3.1.6 :)

On 31 Oct 2016 10:39 pm, "Barijaona Ramaholimihaso" <
notifications@github.com> wrote:

[2016-11-01 09:47] DavidMunch opened #726 "3.1.6: Number of unread articles on dock icon only updates when refreshing subscriptions"
Worked in 3.1.6rc2 (Most of the times, some times the number was wrong). With 3.1.6, it only appear to update when you refresh subscriptions. Marking articles as read does not seem to affect the dock icon number as expected now.

[2016-11-01 10:43] DavidMunch commented on #726
Nevermind, it seems to be working after all.

[2016-11-01 10:43] #726 closed

[2016-11-01 12:02] ruurd commented on #658
Works now. Thank you.

[2016-11-01 12:02] #658 closed

[2016-11-01 17:35] barijaona commented on #713
So, can you confirm if the problem is solved ?

[2016-11-01 20:23] walterdolce commented on #713
The problem is not solved.

[2016-11-01 20:29] josh64x2 commented on #713
Can you please take a screenshot of the About Vienna window so I can make sure I'm running the same version as you?

[2016-11-02 10:45] walterdolce commented on #713
Sure! Here it is:

<img width="298" alt="screen shot 2016-11-02 at 10 43 37" src="https://cloud.githubusercontent.com/assets/6195629/19925796/62afe5fe-a0e9-11e6-9632-922bbb4f0e30.png">

I noticed the issue above doesn't *always* happen. It's inconsistent it seems.
Let me know what I can do to help debugging this.

[2016-11-03 12:42] DavidMunch commented on #724
Just had another crash, so I don't think your commits helped out. :)

[2016-11-04 05:29] josh64x2 commented on #724
@DavidMunch Can you please take a screenshot of your layout and theme etc so I can try and reproduce?

[2016-11-04 07:55] DavidMunch commented on #724
Is this sufficient?
![vienna](https://cloud.githubusercontent.com/assets/3511519/19998221/fde33c28-a26b-11e6-8388-dc4cb8540d30.png)

I should mention that I often see the subscription and Dock icon counts being wrong. Sometimes they goes into negatives, but the most prevalent error (As in 95% of the time), is that I see my Dock icon showing 1 unread subscription despite no articles being unread. B

[2016-11-04 08:07] josh64x2 commented on #724
Perfect - thanks!
Yeah that is weird with the dock count - other people seem to be having issues with it too. Did your dock icon issues start with 3.1.5 ?

[2016-11-04 08:16] josh64x2 opened #729 "Font preferences not working"
When I open the Appearance preferences and try to select a new font it doesn't save the font changes.
I know what the fix is for this.

[2016-11-04 08:28] josh64x2 opened #730 "Notification unread article count wrong when syncing feeds"
When refreshing my feeds from BazQux, the number of unread articles in the desktop notification does not match the number of unread articles shown in Vienna.

For the following screenshot the desktop notification said 2552 unread articles.
![screen shot 2016-11-04 at 19 27 47](https://cloud.githubusercontent.com/assets/799345/19999158/c9d37002-a2c4-11e6-8e1f-fc7e9ee269ca.png)

[2016-11-04 08:30] josh64x2 commented on #724
Once more thing @DavidMunch - does it automatically refresh after waking from sleep or is this when you do a manual refresh?

[2016-11-07 11:54] DavidMunch commented on #724
I can't recall when the dock issue started, since we've been on 3.1.5 for so long. :( But I also on occasion see feeds with the number of articles going into negatives.

I can say for sure that the crashes happen on manual refreshes. I've set it to only refresh Vienna every 2 hours, so wether it also happen when it does it automatically is something I have to confirm. I've changed my update settin

[2016-11-07 21:17] josh64x2 commented on #724
OK, I tried all weekend and I was syncing with bazqux. I didn't get any crashes and the error message in your logic doesn't return any Google results.
I am going to try moving Vienna to layer backed views (which we need to do anyway) and see if that helps as your error message implies that it is related to the view layers.

[2016-11-08 07:30] DavidMunch commented on #724
I only get about one crash every 1-2 days, so it doesn't happen on a regular basis for some reason. But as mentioned it happens accross 3 different machines on two different networks, and both wifi and ethernet, so I think we can rule out the connection at least.

But good to hear you at least have some idea of where to go next. :) Fortunately Vienna launches so quickly, so its not a major pain th

[2016-11-08 09:06] josh64x2 commented on #724
Well it is good if it is that regular because it means I can give you a test build and you'll know soon enough if I've fixed the problem or not. 😄
I'll reply here once I have one ready, but it probably won't be until some time this weekend.

[2016-11-09 11:27] DavidMunch commented on #712
Syncing with an Open Reader Server would take care of your issue.

[2016-11-09 14:21] landy2005 opened #732 "Import/export broke subscription url"
I have subscription urls with ampersand `&`, ie: `https://en.wikipedia.org/w/index.php?title=Observium&feed=atom&action=history`

After export and than import on different computer, this urls escaped `&amp;` and not worked: `https://en.wikipedia.org/w/index.php?title=Observium&amp;feed=atom&amp;action=history`

Vienna Version 3.1.7 :88ecb57:

[2016-11-11 00:22] josh64x2 commented on #732
Thanks for reporting this :)

[2016-11-13 03:17] josh64x2 commented on #732
@barijaona do you think we need to call `[NSString stringByConvertingHTMLEntities:(link ? link : @"")];` [here](https://github.com/ViennaRSS/vienna-rss/blob/master/src/Export.m#L67-L68)?
Surely we have already sanitised the URL when the URL was subscribed to?

Unfortunately `[NSString stringByAddingPercentEscapesUsingEncoding:]` has been deprecated and the replacement isn't available on < 10.8 so

[2016-11-13 04:57] barijaona commented on #732
I agree, these calls should be removed there.

[2016-11-22 07:28] josh64x2 commented on #732
Fixed with commit 408a86c.

[2016-11-22 07:28] #732 closed

[2016-11-23 00:48] #729 closed

[2016-11-23 09:49] DavidMunch commented on #724
A minor observation: The last 3 crashes I had was definitely upon manually refreshing my feeds, just after waking the computers from sleep. 2 of my 3 computers can be a tad slow to connect to the Internet despite being on ethernet, so could that perhaps be the issue, ie. Vienna expecting a connection that isn't there?

[2016-11-23 09:57] esLivingston opened #735 "Next Unread"
Version 3.1.7 :88ecb57:

Using cmd+U or 'b' to move to the Next Unread article in a different folder/feed incorrectly leaves the focus on the folder/feed entry rather than on the article item.

[2016-11-23 15:17] NRockhouse opened #736 "XXE issue in Vienna RSS allows webmaster to steal client's files"
Vienna Version 3.1.7 :88ecb57:

I've done a detailed explanation in my blog post: https://nrockhouse.wordpress.com/2016/11/23/xxe-vulnerability-in-vienna-rss-reader-for-mac-allows-webmaster-to-steal-users-files/

Password for the article is "ViennaXXE2016"

[2016-11-23 21:29] josh64x2 commented on #736
Thanks for this :) Great write up!
Hopefully I can make a fix shortly.

[2016-11-24 03:14] josh64x2 commented on #736
@NRockhouse I couldn't reproduce this in a 10.10 VM. Is your PoC URL still functioning? I used the same one you have in your video.

Thanks!

[2016-11-24 12:33] NRockhouse commented on #736
Hey there @josh64x2 I'm sorry for the late reply, didn't expect such a fast response. Kudos on that. It appears that you might've fixed it according to your commits, but since you asked, my PoC still functions at my Vienna and I'm using 10.11.2 (OS X El Capitan) for your information. The problem that it might not have worked is probably because you have the link in lowercase, the URL is case-sensi

[2016-11-24 16:52] #736 closed

[2016-11-24 18:30] josh64x2 commented on #736
Ok thanks! I will be sure to check the file exists when I test again later today :)

[2016-11-25 01:23] #730 closed

[2016-11-25 01:23] barijaona commented on #730
Fixed in 3.1.8

[2016-11-25 13:56] esLivingston commented on #735
Version 3.1.8 :1bc6bc3:

Same problem present

[2016-11-26 03:12] josh64x2 commented on #262
App Sandboxing is a good idea for security and will help prevent issues such as #736 in the future. It is very simple to do, we just need to implement the migration as per [Apple's guide](https://developer.apple.com/library/content/documentation/Security/Conceptual/AppSandboxDesignGuide/MigratingALegacyApp/MigratingAnAppToASandbox.html).

I have tested it without the migration and simple Vienna fu

[2016-11-26 07:36] barijaona commented on #724
@DavidMunch, I doubt slow connection could be the cause. The crashlogs you provided make me suspect something is wrong in display update. Could you provide more details about your hardware ?

[2016-11-26 10:14] DavidMunch commented on #724
27" Mid-2011 iMac, 8GB RAM, 2GB VRAM Radeon 6970m, Samsung EVO 840 SSD, 3.4Ghz i7. OSX 10.11.
27" late-2013 iMac, 16GB RAM, 1GB NVIDIA GeForce GT 755M, HDD, 3,2Ghz i5. OSX 10.11.
Early-2016 Macbook, 8GB RAM, 256GB PCIe NVM SSD, 1,1Ghz m3. macOS 10.12.

Crashes on all three.

[2016-11-26 15:20] barijaona commented on #714
I could not reproduce the first problem. Are you sure you correctly set the "AND" condition ?

[2016-11-26 15:28] #710 closed

[2016-11-26 15:29] barijaona commented on #710
Fiixed in 3.1.7

[2016-11-26 15:41] barijaona commented on #636
Fixed in 3.1.6

[2016-11-26 15:41] #636 closed

[2016-11-26 15:51] barijaona commented on #735
This behavior seems consistent to me :
- if you have a **folder** selected (left pane), cmd+U selects the **folder** with the next unread article
- if you have an **article** selected,  cmd+U selects the next unread **article**

[2016-11-26 21:54] thinmanballad commented on #714
Hey, thanks for the response! I'm using the mac Version 3.1.8 :1bc6bc3:
![This screen shot possibly uploaded and can show...]()
* I created a new smart folder.
* toggled match selector to 'Any'
* Added a 'Date Is' Today filter.
* Clicked '+' sign and added 'Folder Is Not' reddit filter.
The arrows point at reddit articles that are still in the feed, even though they're in the reddit folder and sho

[2016-11-27 00:39] josh64x2 commented on #724
@DavidMunch I've turned on layer backed views for most of the views (but probably not all because of the complexity of the current code base 😄)
Try this build out and let me know if you get the same crashes.
[Vienna.zip](https://github.com/ViennaRSS/vienna-rss/files/614521/Vienna.zip)

[2016-11-27 08:31] DavidMunch commented on #724
Will do!

[2016-11-27 12:34] barijaona commented on #714
No : if you want a 'AND' match, you have to select 'All'

[2016-11-27 12:34] barijaona commented on #724
@josh64x2 : would you mind publish your working branch ?

[2016-11-27 13:03] DavidMunch commented on #724
Already had issues with the new build, although it was different this time compared to the other crashes. Normally Vienna will just crash, but this time it became complete unresponsive, and I got the attached dump when I had to force Quit Vienna from the Dock.

I should note that this happened while I was connected to a Wifi that did not have working internet access.

[Vienna.txt](https://github.c

[2016-11-27 13:09] esLivingston commented on #735
Perhaps it would be better if the command was restricted to Next Unread Article then. I cannot envisage an occasion when I am interested in the next folder that contains an unread article.

It also is a change of behaviour from earlier releases.

[2016-11-27 21:23] josh64x2 commented on #724
@barijaona I have pushed to https://github.com/josh64x2/vienna-rss/tree/layer-backed
I note based on the new crash log from @DavidMunch there appears to be an issue with:
[code]
So, we should probably check for network connectivity (if we don't already) and also fetch the token asynchronously so it doesn't lock up the UI. I can look into this later today after work.

[2016-11-27 22:12] thinmanballad commented on #714
Oops, looks like user error.
Then I guess I have another feature request.
Combine 'OR' statements and join them with the 'ALL'.  Or *mini* 'or' lists within the 'AND' arguments. I think this would benefit in the ability to curate more fine tuned smart lists.
![screen shot 2016-11-27 at 3 58 58 pm](https://cloud.githubusercontent.com/assets/6265407/20652281/0a4aa782-b4bc-11e6-86f1-1d3e73df9d4e.png)

[2016-11-27 22:28] barijaona commented on #375
I'll close this for now as it is almost a duplicate of #262

[2016-11-27 22:28] #375 closed

[2016-11-27 22:33] barijaona commented on #712
I agree with @DavidMunch. There are some ad supported OpenReader servers. I'll close the issue for now.

[2016-11-27 22:33] #712 closed

[2016-11-27 22:39] barijaona commented on #721
Closing this as @da2x 's implementation has been added for a few weeks now, without noticeable problems.

[2016-11-27 22:39] #721 closed

[2016-11-27 22:43] josh64x2 commented on #721
Hey @barijaona that was only a partial implementation of RFC3229

[2016-11-27 22:45] barijaona commented on #516
Duplicate of #447

[2016-11-27 22:45] #516 closed

[2016-11-27 22:45] barijaona commented on #537
Duplicate of #447

[2016-11-27 22:45] #537 closed

[2016-11-27 22:51] barijaona commented on #721
Yes, we didn't implement the `F-range` parameter. But at the client level, it is an option, not a requirement,  and nobody has asked to add it to Vienna.

[2016-11-27 22:57] barijaona commented on #580
This duplicates #344

[2016-11-27 22:57] #580 closed

[2016-11-27 23:11] barijaona commented on #714
Interesting idea. I'll merge it in feature request #423

[2016-11-27 23:11] #714 closed

[2016-11-27 23:13] josh64x2 commented on #713
This was fixed with PR #718

[2016-11-27 23:13] #713 closed

[2016-11-27 23:16] barijaona commented on #423
@thinmanballad suggested in #714 to add regex conditions and the following user interface :

![Interface](https://cloud.githubusercontent.com/assets/6265407/20652281/0a4aa782-b4bc-11e6-86f1-1d3e73df9d4e.png)

[2016-11-27 23:19] barijaona commented on #735
I don't really see this as an issue, because the article pane is still visible, and the next cmd+U or 'N' keystroke moves the focus to the article list pane.

[2016-11-27 23:30] barijaona commented on #671
Did it reoccur ?

[2016-11-27 23:36] tonycpsu commented on #671
No, things have been quite stable recently, aside from some unread counts being wrong that seems to have been fixed in a recent update.  I'll reopen if I see this again in the future.

[2016-11-27 23:36] #671 closed

[2016-11-28 07:52] josh64x2 commented on #724
OK looks like the issue starts on https://github.com/ViennaRSS/vienna-rss/blob/master/src/AppController.m#L344 which is called after your system wakes from sleep.

[2016-11-28 10:00] josh64x2 commented on #724
@DavidMunch please try this build and let me know if it helps at all.
[Vienna.zip](https://github.com/ViennaRSS/vienna-rss/files/615926/Vienna.zip)

[2016-11-28 11:16] DavidMunch commented on #724
Will do.

[2016-11-29 02:55] dak180 commented on #423
I think there are actually some standard controls to do this as I have seen rule setups like this in a few apps both apple and third party.

[2016-12-01 07:17] josh64x2 commented on #724
@DavidMunch any crashes yet?

[2016-12-01 07:32] DavidMunch commented on #724
So far no. :)

[2016-12-01 11:58] robertklep commented on #735
@barijaona when I delete the last article, Vienna automatically shifts focus from the Subjects pane to the Folders pane.

When new articles come in, and I press Cmd+U, the focus stays on the Folders pane, which I keep forgetting, so when I've read the first new article and press Backspace to delete it, Vienna asks me if I want to delete the folder—which obviously wasn't my intention :D

Also, Cmd+

[2016-12-01 12:10] esLivingston commented on #735
@robertklep describes the behaviour well. cmd+U results in unexpected behaviour (i.e. focus is left on a folder rather than on the next unread article).

@barijaona is almost correct. The difference is that the focus ends up on the 2nd unread article (because the the first has already been marked as read).

[2016-12-01 15:06] mwoffenden opened #739 "Still cannot create cocoaforge account, who can help?"
I never get the confirmation email.

Trying to sign up for the Vienna forum.

Any help would be appreciated!

[2016-12-01 15:07] mwoffenden opened #740 "Images in article list"
Has anyone considered adding this feature to Vienna RSS?

[2016-12-01 19:37] josh64x2 commented on #739
Hi,
Have you checked your junk mail folder as for some reason the cocoaforge emails go there?

Thanks!

[2016-12-01 19:45] mwoffenden commented on #739
I have and it’s not there.

[2016-12-01 19:46] josh64x2 commented on #739
Ok I'll check the server logs later.
This issue seems to appear randomly :(

[2016-12-01 19:55] mwoffenden opened #741 "Feedly?"
Since there seems to be no way to search issues here by content...

Is anyone working on Feedly integration?

[2016-12-01 22:00] barijaona commented on #741
I had a look at it a long time ago, but Feedly seemed too different of other servers to be worth the effort.

[2016-12-01 22:04] barijaona commented on #740
I haven't.
The article list code needs a serious overhaul, so adding any new functionality is not considered a priority.

[2016-12-01 22:10] josh64x2 commented on #740
It will be a lot easier to add after we overhaul it though!

[2016-12-01 22:11] barijaona commented on #735
There are two families of Vienna users : those who routinely delete articles once read, and those who archive everything until their Mac cries misery 😆

Guess which kind I am ?

[2016-12-02 09:16] josh64x2 commented on #735
Perhaps we can look at adding a preference so we can have it both ways?

[2016-12-02 09:19] DavidMunch commented on #724
Another day, another crash unfortunately.

This time I was on Wifi that was working fine, and I did a manual refresh of Vienna about 12 minutes after waking the laptop from sleep.
[Vienna_2016-12-02-101335_Ahsoka.txt](https://github.com/ViennaRSS/vienna-rss/files/626734/Vienna_2016-12-02-101335_Ahsoka.txt)

[2016-12-02 09:19] josh64x2 commented on #724
Haha thats OK, at least we are on the right track.

[2016-12-02 09:24] josh64x2 commented on #724
Actually just looking at that crash log, that is another crash related to layers.
The first build I gave you to try had layer backed views on, and that crashed due to networking code in the openreader sync.
The second build I gave you to try did NOT have layer backed views on, but did have modified networking code.

I'm going to create a third build tomorrow with the modified networking code AND l

[2016-12-02 09:27] barijaona commented on #735
A preference might be overkill, I agree that it should be possible to have more consistency.
I am still busy now, but I will look at it in a few days.

[2016-12-02 09:30] DavidMunch commented on #724
Haha, well, you ARE making it hard for yourself in that case.. :D

[2016-12-02 23:03] josh64x2 commented on #724
OK, build lucky number 3!
[Vienna.zip](https://github.com/ViennaRSS/vienna-rss/files/628467/Vienna.zip)

[2016-12-07 15:59] DavidMunch commented on #724
So far, no issues at all. I think you struck gold with the third build!

[2016-12-08 02:44] gonglei opened #743 "Some articles cannot show in preview pane on macOS Sierra"
I'm using Vienna on macOS Sierra. I found some articles cannot show on preview pane. I have to double click it to show on a separate tab. The RSS feeds are:
http://www.echojs.com/rss
https://news.js.org/feed/
https://ecmascript-daily.github.io/atom.xml

[2016-12-09 09:19] josh64x2 commented on #743
Thanks, I'll try and look into it this weekend :)

[2016-12-09 09:21] josh64x2 commented on #724
Great to hear! Hopefully it still hasn't crashed. I have a couple of other changes to make to the openreader sync code this weekend and we should be good to go for 3.1.9!

[2016-12-09 10:23] DavidMunch commented on #724
No crashes! :) I say we consider this fixed for now, and if I get any short term crashes, I will just re-open the ticket.

[2016-12-10 18:47] DavidMunch commented on #724
Sorry, got another one!
[Vienna.txt](https://github.com/ViennaRSS/vienna-rss/files/643972/Vienna.txt)

[2016-12-11 00:59] josh64x2 commented on #724
😢

[2016-12-12 09:17] josh64x2 commented on #724
I think I will need to take the following approach:
* Fix the asynchronous networking code in GoogleReader
* Clean up some of the UI code and enable layer-backed views more thoroughly

At least it has reduced the frequency of crashes for you. When we start to make more substantial changes to Vienna for v3.2.0 hopefully the number of crashes will drop to 0.

[2016-12-12 09:20] DavidMunch commented on #724
I can certainly wait for that. The number of crashes has decreased dramatically, and since Vienna launches quickly, it is not really a big issue anymore, just an annoyance. 8)

[2016-12-13 16:55] Eitot opened #744 "Auto Layout and base internationalization"
Any plans to use Storyboards and Autolayout? Could clean up quite a few .nib and .strings files.

[2016-12-13 21:17] josh64x2 commented on #744
Hey @Eitot we do have plans for it but we are limited with time. Would you like to help out? 😄

[2016-12-15 02:43] josh64x2 commented on #659
@testnotcode do you still have this issue? I haven't been able to reproduce it :(

[2016-12-15 02:54] marchyman opened #745 "Icon transparency issue?"
I noticed this after updating to 10.12.2 on my late 2012 iMac.  Perhaps it happened earlier?

Anyway, the icon in the dock has changed to be partly transparent and you can see the outline of the icon bounding box.   Here's a screen capture..

![screen shot 2016-12-14 at 6 49 05 pm](https://cloud.githubusercontent.com/assets/784627/21210247/4563f1be-c22e-11e6-874c-674097d1168b.png)

Vienna 3.1.8 pl

[2016-12-15 03:00] josh64x2 commented on #745
A few people have reported this issue but I can't reproduce on any of my systems.
I'm not sure how to approach it...

[2016-12-16 11:06] evanmiltenburg opened #746 "Adding XML link causes crash at startup"
I tried to add [this feed](http://www.cleverhans.io/feed.xml), but then Vienna (latest version, OS X) crashed and it now keeps crashing on startup.

* Bug fix question: Is it possible to fix this issue locally by removing the URL manually from somewhere?
* Feature request: could you make some sort of check to prevent Vienna from reading malformed data?

Here's the Terminal output:

[code]

[2016-12-17 00:33] josh64x2 commented on #739
@mwoffenden I think I've fixed this issue - I have resent your activation email.

Thanks!

[2016-12-17 23:27] Eitot commented on #745
The flaw is definitely in the icon file, even in the Xcode project. Have you got the source file of the icon?

[2016-12-17 23:30] Eitot commented on #744
I have experience with Xcode and interface builder, but to be honest, I am not sure where to begin for this project. The project currently uses a mix of NIB and XIB files for each language and I suppose that it will be necessary to switch to a base translation, in order to utilise auto layout. There are also many hooks in the  code itself where the interface files are instantiated.

I have to inve

[2016-12-17 23:33] barijaona commented on #745
@nickdaze , do you have it ?

[2016-12-17 23:44] josh64x2 commented on #744
Yeah it is a very messy codebase and we need to make it a lot cleaner. If you could help come up with a plan of attack I could help implement it.

Another thing that would be great if it is easier for you is to build the UI from scratch with storyboards and I can then write the controllers to connect the UI to the code.

Autolayout and base internationalisation is something I've been wanting to do

[2016-12-18 01:35] Eitot commented on #745
Checking the [commit history](https://github.com/ViennaRSS/vienna-rss/commits/master/Resources/vienna-3.icns), the icon was broken at the last commit. I suppose tha the compression tool used broke the alpha channel.

Given that the commit happened due to Leopard compatibility at the time, I think that reverting to an earlier commit should be enough.

[2016-12-18 02:06] marchyman commented on #745
On Dec 17, 2016, at 5:36 PM, Eitot <notifications@github.com> wrote:

The last commit was 2013.  The icon was broken quite recently, possibly when I updated to 10.12.2.  I don’t think there was an issue on 10.12.1.

This may be a case of a new OS not handling an old format icon the same way.

[2016-12-18 02:35] Eitot commented on #745
I saw the opaque background on El Capitan as well, before I upgraded yesterday. It did not occur to me at the time. I have quickly tried to reproduce the problem with the same tool, but to no avail. Not sure what caused the problem, but in any case, it looks as though the older version does not have this.

[2016-12-18 05:17] josh64x2 commented on #745
OK we should put the icon in an assets catalogue too.

[2016-12-18 08:54] JanX2 commented on #744
You could use my fork for batch-converting all the NIBs:
https://github.com/JanX2/NibToXibConverter

[2016-12-18 20:11] giannigdev opened #747 "Feeds display in a strange way"
Hello everyone, is someone aware of this issue? it doesn't happen with every subscription i have but for some( you can see it by yourself by adding the 'Little Bites of Cocoa blog'). This is an image of the problem:

![1](https://cloud.githubusercontent.com/assets/4886490/21296184/426e7804-c566-11e6-9c21-7afeba762ec8.png)

It would be nice to receive some feedback from other users; do you think it

[2016-12-18 22:09] JanX2 commented on #747
This looks like a typesetting issue due to the use of emoji. I seen that as well in Vienna occasionally.

[2016-12-18 22:11] josh64x2 commented on #747
Yes it is part of an emoji issue. We need to move our tableviews to be view based instead of cell based. Hopefully we can get this work done in the next month or so.

[2016-12-18 22:12] josh64x2 commented on #747
Any help is most welcome :)

[2016-12-18 23:11] barijaona commented on #747
Closing this as it is basically the same issue as issue #447

[2016-12-18 23:11] #747 closed

[2016-12-20 04:13] josh64x2 commented on #745
On the plus side the people experiencing the issue have it consistently so it should be simple to test a fix!

[2016-12-20 09:13] josh64x2 commented on #745
Oh this was reported [over on the forums](https://forums.cocoaforge.com/viewtopic.php?f=18&t=26914&p=139763#p139722) and I made a [test build(https://app.box.com/s/b4mquduwrv13tm4vvhga0hujtji957wi) which apparently fixed the issue.
I completely forgot about it 😁 I will try and find the branch I made the fix in and submit a PR.

[2016-12-20 19:03] reeleis opened #750 "Ghost articles from deleted feed"
I recently deleted a feed, possibly while my feeds were refreshing, and now all of the articles from that feed are in my unread articles list (even though they had all been marked as read before). When I try to mark them as read or delete them they show up again as unread if I go between folders or quit and restart Vienna. I have tried reindexing the database and emptying the trash with no success

[2016-12-21 01:20] #745 closed

[2016-12-21 03:31] marchyman commented on #745
Yes, I can confirm it is fixed with your changes.  One note... the icon in the Dock did not change (was still messed up) even after launching the updated version of Vienna.   Removing the icon from the Dock then adding it again from the Applications folder resolved that glitch.

[2016-12-22 04:51] josh64x2 commented on #745
I think thats a standard Dock thing that it does sometimes. Relaunching the Dock or rebooting the computer should fix it as well.

[2016-12-26 00:53] mwoffenden commented on #739
@josh64x2 I've still not seen the activation email.

[2016-12-26 01:29] josh64x2 commented on #739
Hmm what username did you sign up with? I'll try again.

[2016-12-26 14:25] mwoffenden commented on #739
I believe it was **mwoffenden**.

[2016-12-26 21:30] josh64x2 commented on #739
I thought that was it, but I can't find the account any more - it may have got deleted when I upgraded the forum software. Can you please try and re-register?

[2016-12-27 00:33] mwoffenden commented on #739
Re-registered and got in this time.  Weird bug though.  If I try to change the language to "American English", I get bounced back to the T&C page.  Hey, maybe the T&C say something about which language you must choose?

[2016-12-27 00:35] josh64x2 commented on #739
OK thanks for letting me know! I'll take a quick look at it but I want to migrate the forums to different software anyway because phpBB is very buggy.

[2016-12-27 00:35] #739 closed

[2016-12-27 20:28] josh64x2 commented on #739
I think I fixed the T&C issue. Looks like phpBB language packs can still be selected even if they are missing all of the translation files. As a workaround I just copied the en-gb files to en-us until I work out what direction we are going to go with regards to the forums.

[2016-12-27 22:20] smurffff opened #751 "Scaling/display problem with Vienna 3.18"
I'm running MacOS 10.9.5, using the "Unified" layout and the "Feedlight Graphite" theme from version 3.09 (since I don't like the font the 3.18 version uses for the articles).

When I open Vienna, the right pane of the window, where the articles show, is not scaled properly. I mean the contents of the window are much too wide for the window, so that horizontal scrolling would be required to read t

[2016-12-29 11:53] danielhutnan opened #752 "Retina RSS icon in bar menu"
Please update retina (2x resolution) RSS icon in bar menu - Mac Os.

Thank you.

[2016-12-29 13:48] danielhutnan opened #753 "JustSimple - finally great style. :)"
Hello everybody,

I've created very nice, clear and simple style for your RSS feeds. :)

[JustSimple.viennastyle.zip](https://github.com/ViennaRSS/vienna-rss/files/677177/JustSimple.viennastyle.zip)

If it is possible, please add it to [Extras](http://www.vienna-rss.org/?page_id=76).
I have no idea how it works there.

I hope you will like it as much as I do.

Thank you.

Best Regards,
Daniel Hutn

[2016-12-29 22:44] josh64x2 commented on #752
hey @danielhutnan are you using a 5K imac by any chance?

[2016-12-29 23:17] josh64x2 commented on #753
Hey @danielhutnan I really like this style - thanks!
One question though, it doesn't seem to work properly in Unified layout (it crops the bottom of each article) but I'm not sure if this is a limitation with your style or if it is a bug with Vienna.

Can you please test in Unified layout mode and let me know what you think?

Thanks!

[2016-12-30 11:14] danielhutnan commented on #752
Hello @josh64x2, I'm using MacBook Pro Retina and external 4k LCD monitor.

[2016-12-30 11:39] danielhutnan commented on #753
Hi @josh64x2, you're right. There was a little mistake on my side. It's been successfully fixed. :) Now it works great but I can see one more bug with Vienna. If there is a lot of content, it takes some time to load correctly. Before is content of article fully loaded, there is big white space between two of them in Unified layout mode.

**Fixed version**
[JustSimple.viennastyle.zip](https://githu

[2016-12-31 04:06] josh64x2 commented on #753
Thanks for fixing this :) I'll upload it now

[2016-12-31 04:14] josh64x2 commented on #753
All uploaded :) It's second on the list.

[2016-12-31 05:16] josh64x2 commented on #752
OK I think we are going to need to start providing @3x icons. Can you please take a screenshot of how it currently looks for you?
Does it look equally bad on the MBP Retina when you don't have the monitor plugged in?

[2016-12-31 06:34] josh64x2 commented on #752
@danielhutnan can you please try this test version and let me know if the icons look better?

Thanks!

[Vienna.zip](https://github.com/ViennaRSS/vienna-rss/files/679497/Vienna.zip)

[2016-12-31 11:37] danielhutnan commented on #752
@josh64x2 now it doesn't work - no icon displayed.

There you can see the 3.1.8 version:

<img width="358" alt="1" src="https://cloud.githubusercontent.com/assets/12529041/21577273/73695908-cf55-11e6-8ef7-ea81ad0db64a.png">
<img width="328" alt="2" src="https://cloud.githubusercontent.com/assets/12529041/21577274/739238f0-cf55-11e6-842a-202886288d9c.png">

[2016-12-31 22:08] josh64x2 commented on #752
OK I think that test build has a bug because I had to turn the status bar icon off and on again in the preferences for it to display. I'll check it out and hopefully have a new one to upload shortly.

[2017-01-01 04:46] josh64x2 commented on #752
@danielhutnan please try this new version: [Vienna.zip](https://github.com/ViennaRSS/vienna-rss/files/679919/Vienna.zip)

The icons displayed for me straight away. 😄

[2017-01-01 11:58] danielhutnan commented on #752
@josh64x2 now it's perfect! 👍

[2017-01-01 11:58] danielhutnan commented on #752
Thank you.

[2017-01-02 03:23] #752 closed

[2017-01-02 10:47] nicosomb commented on #286
👍

[2017-01-03 14:18] FakeYin opened #756 "Different Date Format Control for Different Feed"
Will it be possible to control how date is read on a feed by feed basis?

Some feed have the format of <dc:date> yyyy-dd-mm <...> (e.g., 2017-02-01) which will be read as 1st Feb 2017 instead of 2nd Jan 2017.

Is there a way to control above behaviour?

[2017-01-03 20:44] marchyman commented on #753
I notice that this style suffers from the incorrect image aspect ratio bug that has been squashed elsewhere in the past.  This patch seems to fixe the issue.

`
--- stylesheet.css~	2016-12-30 03:26:14.000000000 -0800
+++ stylesheet.css	2017-01-03 12:42:00.000000000 -0800
@@ -21,6 +21,9 @@
 	margin:10px 0px 10px 0px;
 	max-width:700px;
 	padding:0px;
+	box-sizing: border-box;
+	-webkit-box-sizing:

[2017-01-07 21:38] josh64x2 commented on #753
@danielhutnan I can confirm what @marchyman says, can you please attach an updated .zip?

Thanks!

[2017-01-09 15:35] danielhutnan commented on #753
@marchyman @josh64x2 Hello guys, I'm sorry for the late answer. I can't agree. With the style what @marchyman has wrote, it's creating very big spaces between the articles in Unified layout mode and images are all aligned to the left. I can't see the bug what @marchyman says.

Can you please make some screenshots?

Anyway, it's necessary to add display:block to img element because some texts are f

[2017-01-09 18:49] marchyman commented on #753
On Jan 9, 2017, at 7:35 AM, danielhutnan <notifications@github.com> wrote:

Sure.

Without patch:

With the patch

I copied the patch from a change that was made to some other style a while back.   I just checked and found the only line that was needed is this:

height: auto !important;

removing the bix-sizing changes will solve the issues you saw on other layouts.

Marc

[2017-01-10 07:36] josh64x2 commented on #753
do @marchyman's screenshots show for anyone else?

[2017-01-10 09:51] danielhutnan commented on #753
@josh64x2 no, I can't see them but he is right. It's enough to add just height: auto !important;

I will fix it asap.

[2017-01-10 19:13] marchyman commented on #753
I'm sorry my images didn't show up.  I sent them in email.  I'll try to remember for the future to use the web based form if I have attachments.  Updated style downloaded and seems to be working just fine.

[2017-01-10 21:28] danielhutnan commented on #753
@marchyman no problem. Thank you. :)

[2017-01-11 12:13] DavidMunch commented on #724
I haven't had a single crash since the 10th of December, so I think it should be closed. Your suggestions are probably better spun off into seperate issues anyway.

[2017-01-11 20:35] josh64x2 commented on #724
OK good to know - I'll keep the issue open until I submit a proper PR with these fixes though. Hopefully I can do that this weekend!

[2017-01-11 21:19] gearstash opened #760 "Grey square surround for Vienna application icon in the Dock"
MacOS Sierra 10.12.2, Vienna 3.1.8 :1bc6bc3:

The Vienna icon is rendered normally without the grey square surround in the Dock on another Mac--all preferences identical. I don't see any difference in the .icns files...

[2017-01-12 00:28] marchyman commented on #760
That problem was found and fixed a little after 3.1.8.

Marc

[2017-01-12 00:35] josh64x2 commented on #760
Yup, thanks for reporting this though :) we have fixed it and it will be in v3.1.9 which should be released this weekend if all goes well!!!

[2017-01-12 00:35] #760 closed

[2017-01-12 00:36] josh64x2 commented on #751
Thanks for this report, I'll look into it.

[2017-01-12 19:39] Eitot commented on #744
I did not realise that Apple added Storyboard to Cocoa only in Yosemite. :(

I have been spending some time yesterday to refactor the remaining NIB files to XIB, enable the Base translation and implement Auto Layout. I will be sending a pull request soon for the work-in-progress.

I have some problems with Auto Layout in two files: SyncingPreferencesView.xib and AdvancedPreferencesView.xib, which

[2017-01-12 20:21] josh64x2 commented on #744
Hi @Eitot thanks for working on this 😄  I hope my work in #757 didn't break anything for you.
I will also help you with the remaining problems you are having. I'll look at SyncingPrefs and AdvancedPrefs tonight.
I believe you can use `ibtool` for importing `localizable.strings` files into xibs. I can check that later as well.
I couldn't see the fork you are working from on your github profile - ca

[2017-01-12 21:12] Eitot commented on #744
Have you used this before with `ibtool`? I have tried `ibtool --import-strings-file`, but it does not seem to accept localizable.strings files. It asks for a different file, I am assuming a strings file that was extracted from a XIB file previously.

[2017-01-12 21:14] josh64x2 commented on #744
Hmm I wrote a script once to help do it. I'll look for it after work

[2017-01-13 08:47] josh64x2 commented on #744
Ohhh I see what you mean now, the actual `Localizable.strings` files. I might have to write a script for that if I can't find a better way of doing it.

[2017-01-13 22:05] josh64x2 commented on #753
Just updated the copy of the theme on our server. Thanks again @danielhutnan :)

[2017-01-13 22:05] #753 closed

[2017-01-15 02:57] Eitot opened #762 "Replacement of PSMTabBarControl"
Once the project switches to Mavericks in the future, it may be worth replacing PSMTabBarControl with this project: https://github.com/MiMo42/MMTabBarView. It has a Yosemite style as well.

It does build with 10.8 without any warnings/issues, but I don’t know whether it actually works on it.

[2017-01-15 02:59] josh64x2 commented on #762
I have a 10.8 VM I can try it on, thanks :)

[2017-01-15 03:30] josh64x2 commented on #762
Unfortunately the demo app crashes on 10.8 :(

[2017-01-15 21:23] josh64x2 opened #763 "Update translation guide in README.md"
Need to update the translation guide in the README.md file after #761 has been merged.

[2017-01-17 21:29] josh64x2 opened #764 "[meta] User Interface refactoring/enhancements"
This is a meta issue to discuss/record tasks for UI refactoring and enhancements on the back of #744 and the discussion in the associated PR #761

- [x] 10.8 Fixes for autolayout #771
- [x] Replace PSMTabBar with MMTabBarView #762
- [ ] Change **ActivityViewer** to use more of Interface Builder for setup & configuration #767
- [ ] Make **FoldersTree** use the ‘Source List’ **NSOutlineView**
- [x]

[2017-01-19 01:45] Eitot opened #765 "Gatekeeper in Sierra"
Apple expanded Gatekeeper in Sierra with ‘app translocation’. The application bundle is launched from a random path on the file system:
![screen shot 2017-01-19 at 02 34 15](https://cloud.githubusercontent.com/assets/15073177/22090092/d7487226-ddef-11e6-9a8d-58273fe92d0a.png)

Although it does not seem to impact Vienna functionally, it may be worth adopting Apple’s recommendation to use [code-sign

[2017-01-19 02:02] josh64x2 opened #766 "Update Organisation Identifier"
We need to update the organisation identifier from **uk.co.opencommunity.vienna2** to **org.vienna-rss.vienna**.

[2017-01-19 02:18] Eitot commented on #766
Some of these files here will have to be migrated:
![screen shot 2017-01-19 at 03 15 57](https://cloud.githubusercontent.com/assets/15073177/22091141/aa23081e-ddf5-11e6-8249-a6180c3fd0b4.png)

[2017-01-19 02:22] josh64x2 commented on #766
We can do this as part of migrating to an app sandbox as mentioned in #262

[2017-01-19 09:26] josh64x2 commented on #764
FYI @Eitot @barijaona

[2017-01-19 09:30] josh64x2 opened #767 "Change ActivityViewer to use more of Interface Builder for setup & configuration"
- [x] Rename to **ActivityPanelController**
- [ ] Remove duplicate **NSWindowDelegate** code
- [ ] Set autosave names for **NSWindow** and **NSSplitView** using Interface Builder

[2017-01-19 09:31] josh64x2 commented on #767
Do this after PR #761 has been merged.

[2017-01-19 13:36] miguelarauj1o commented on #750
Hey @reeleis, does this issue still alive?

[2017-01-19 13:39] miguelarauj1o commented on #746
@evanmiltenburg, what's your Vienna/OSX version?

[2017-01-19 21:02] josh64x2 opened #768 "Vienna crash from incorrectly escaped URLs"
As reported on the forums: https://forums.cocoaforge.com/viewtopic.php?f=18&t=26924

I've been able to reproduce with this [example xml file](https://github.com/ViennaRSS/vienna-rss/files/717773/viennacrash.rss.zip) when selecting the post titled: "The Giant Beastcast - Episode 86".

The issue appears to be https://github.com/ViennaRSS/vienna-rss/blob/master/src/StringExtensions.m#L717 and last ni

[2017-01-21 02:15] josh64x2 commented on #582
Just an update on this - once #761 has been merged in we can probably start working on this 😄

[2017-01-23 00:14] Eitot commented on #764
How do you want to approach the refactoring of the toolbar? Keep the toolbar-related code in AppController or refactor into a subclass (e.g. NSToolbar or NSWindowController)?

[2017-01-23 00:22] josh64x2 commented on #764
Ok my preferred approach for all enhancements is to move as much as possible out of AppController.

I was thinking of creating an VNAToolbarController, maybe subclass from NSObject and implement NSToolbarDelegate.
Configure as much as possible using interface builder and then let the VNAToolbarController do the rest.

What do you think?

[2017-01-23 01:25] Eitot commented on #764
That would be my preferred approach. We could put the delegate methods and IB actions into it.

One problem is that the AppController keeps access to some resources to itself. For instance, PluginManager only lives as an instance variable in AppController, but access to it is needed by some toolbar actions as well (the style menu). Not sure how this can be done elegantly.

[2017-01-23 01:30] josh64x2 commented on #764
OK I hate singletons but I think we could move PluginManager to a singleton which should make things easier.

[2017-01-23 02:10] Eitot commented on #764
Which design pattern do you prefer?

[2017-01-23 02:21] josh64x2 commented on #764
I prefer as close to functional programming as possible but I know it isn't always possible and Vienna is basically the opposite to functional programming 😅

I am happy to have a simple and modular design that would be simple for unit and UI testing.

What do you prefer?

[2017-01-23 19:24] DavidMunch opened #769 "Scrolling continues when jumping between articles"
1. Scroll down through an article.
2. While the article is still scrolling and the cursor is still hovering over the article view, press a key to go to another article.
3. The new article is scrolled down.

Expected result: No scrolling when changing articles.

[2017-01-23 20:59] Eitot commented on #764
I am not an experienced programmer. I only got into programming through Swift. I have yet to learn how to program coherently and work with larger code bases. I do like modularity and the MVC pattern, but then I start refactoring things every so often, defeating the purpose of modularity. 😀

Objective-C is a different beast to me and I have no idea how to approach it yet.

[2017-01-23 21:05] josh64x2 commented on #764
Well you seem experienced!

Once we drop 10.8 we can start using Swift more which will be good :)

[2017-01-24 00:25] Eitot commented on #764
Mavericks solves everything 😜; Swift, stack views, NSURLSession, full base localisation, improvements to asset catalogs and a bunch of other useful Cocoa APIs.

[2017-01-24 00:32] josh64x2 commented on #764
OK I'll try to fix some of the remaining 10.8 bugs in the autolayout branch, and after we release it we can drop 10.8 support unless it is for bug fixes which I can back port.

If we are spending too much time fixing autolayout bugs for 10.8 then I suggest we end 10.8 support early.

[2017-01-25 05:45] Eitot commented on #764
The DisclosureView still has some bugs. It still happens that a constraint is added twice. I have made small changes to it to alleviate it somewhat, but I don’t know how I can prevent it effectively. There is no way to disable a constraint directly <10.11. It may also be possible to just set the constraint in IB and don’t remove it, but that means that the height cannot change dynamically.

I thin

[2017-01-25 22:29] josh64x2 commented on #764
Interesting discovery @Eitot ! I'll see what I can do about it.

[2017-01-26 01:29] josh64x2 opened #771 "10.8 Fixes for autolayout"
The issue is for discussing the autolayout fixes required for 10.8

FYI @Eitot @barijaona

[2017-01-26 01:34] josh64x2 commented on #771
@Eitot I've fixed some of the 10.8 stuff by removing all of the manual splitview layout stuff from `ArticleListView` and using the NSSplitView autosave functionality.
There are some constraint issues though and I'm not sure where to start.

The following displays in the console when launching the app:
[code]

This results in the list of articles being collapsed up towards the filter bar because th

[2017-01-26 01:40] josh64x2 commented on #771
You can look at my branch [mavericks-autolayout](https://github.com/josh64x2/vienna-rss/tree/mavericks-autolayout) if you want to try.

[2017-01-26 01:44] josh64x2 commented on #771
Actually maybe we should have HorizontalArticleListView and VerticalArticleListView as two different subviews so we dont have to programmatically change the layout of everything.... what do you think?

[2017-01-26 06:32] Eitot commented on #771
I am a bit puzzled as to why the NSClipView has an autoresizing-mask constraint of 17 at the top and the NSScollView a height constraint of 8.  Logically, the first should be 0, the other should not exist. It seems that it then chooses the break the wrong constraints, the top constraint of the message list and the bottom constraint of the NSClipView.

Is there anything helpful when you enable this

[2017-01-26 09:24] Eitot commented on #764
The smart-folder panel also needs some work. It is probably better to put it into a table view. Stack view would also do.

[2017-01-26 09:30] josh64x2 commented on #764
Stack view isn't available on 10.8 is it? Or is this something that would require more work and should be  >= 10.9-only ?

[2017-01-26 09:31] josh64x2 commented on #771
Ooops I got the names for 10.8 and 10.9 mixed up :D I'm just going to rename my branch...

[2017-01-26 09:37] Eitot commented on #764
Yep, 10.9 only. It currently just adds the subviews to the hierarchy, but I reckon that this is not compatible with Auto Layout, hence why it doesn’t work correctly yet.

[2017-01-26 09:40] Eitot commented on #771
I pushed a commit to my `autolayout` branch that hopefully fixes the tab bar. Can you merge and test this on 10.8?

[2017-01-26 10:28] josh64x2 commented on #771
Sure, I'll have to do it on Friday though after work

[2017-01-26 16:10] reeleis commented on #750
I haven't been able to reproduce it (I restored an earlier version of my database), so I'll go ahead and close the issue. Thanks!

[2017-01-26 16:10] #750 closed

[2017-01-27 08:12] josh64x2 commented on #771
@Eitot the logic works, but the animation is still weird...

[2017-01-27 08:19] josh64x2 commented on #771
with regards to my `mtnlion-autolayout` branch, i enabled `defaults write uk.co.opencommunity.vienna2 NSConstraintBasedLayoutVisualizeMutuallyExclusiveConstraints -bool YES`

And it shows:
![screen shot 2017-01-27 at 19 16 43](https://cloud.githubusercontent.com/assets/799345/22364395/5d1a2684-e4c5-11e6-80bb-13adf10beb57.png)

And in the console it says:
![screen shot 2017-01-27 at 19 17 24](https

[2017-01-27 19:37] Eitot commented on #771
OK, I approached the tab bar differently now. Can you merge again?

[2017-01-27 19:44] barijaona commented on #771
Don't forget that the filter bar can appear only on the main tab, not on browser tabs.

[2017-01-27 19:50] Eitot commented on #771
I see what you mean. It is not dismissed when switching to an empty tab.

[2017-01-27 19:58] barijaona commented on #771
Yeah, some code is needed in AppController's `-handleTabChange:` (or on `-updateStatusBarFilterButtonVisibility`)

[2017-01-27 21:26] barijaona commented on #771
Can you have a look at my `autolayout` branch ?

[2017-01-27 23:30] josh64x2 commented on #771
OK on 10.8 the animation is fixed, also the filter bar now only shows on the articles tab and not the browser tabs.
I like the fact that the filter shows below the tab bar - it reflects that the filter is only for the articles view and not the parent view.

Still having constraint issues, and the articles list is collapsing when turning tabs on and off as show:
![screen shot 2017-01-28 at 10 23 29

[2017-01-28 02:14] barijaona commented on #771
Can you confirm if the issue with article list collapsing is specific to 10.8 ?

[2017-01-28 02:19] josh64x2 commented on #771
Well I've only tested on 10.8 and 10.12. If someone can test on 10.9 and it works I guess we could drop 10.8 support earlier.

[2017-01-28 02:37] Eitot commented on #771
I haven’t seen this behaviour on my 10.9 VM at least. I will test the latest commits on it to be sure.

[2017-01-28 04:42] barijaona commented on #771
Apart from 10.8 support, do you see other advantages in having two separate split views ?
My opinion is that currently, we should prioritize code modernisation over legacy support. We can drop 10.8 compatibility early if it requires too much effort.

[2017-01-28 04:49] josh64x2 commented on #771
In my opinion it's a little cleaner - they are technically different views.
They would both contain the same subviews - ArticleListView (or is it MessageListView?) and ArticleView. The subviews would resize appropriately due to autolayout.

What would be a good name for the parent view of the right hand side of the app? SubscriptionDetailView? Technically it shows the detail of a subscription/fold

[2017-01-28 05:10] Eitot commented on #771
ContentDetailView? Or just DetailView?

[2017-01-28 05:15] barijaona commented on #771
I am OK with the proposed approach and would go with FolderDetailView.
Each FolderDetailView would contain a MessageListView and an ArticleView.

UnifiedDisplayView could later also benefit from this approach.

[2017-01-28 05:31] josh64x2 commented on #771
I finder Folder confusing because individual subscriptions are not folders, and we use folders for a different purpose in Vienna...

@eitot what is the issue with the side bar?

[2017-01-28 05:37] barijaona commented on #771
I agree it might be misleading at first, but it's Vienna's terminology, either in user interface or in code (ex: FolderView), so I prefer consistency.

[2017-01-28 05:45] josh64x2 commented on #771
I am quite happy to change all references from Folder to Subscription :) - we decided on Subscription and Post in the ViennaNG discussions. Otherwise I think just DetailView.

[2017-01-28 05:56] Eitot commented on #771
It is not sized correctly, same problem as with the other split view.

[2017-01-28 06:51] barijaona commented on #771
Vienna's terminology is in fact quite logical once you understand that the model is Apple's Mail : in Mail, you've got the Mailbox and Message menus ; in Vienna, it's Folder and Message 🤓

[2017-01-28 06:57] josh64x2 commented on #771
Mailbox/Message is also the same as Subscription/Message then.

I'm sorry I just think it is very confusing especially considering we also have objects called Folder and Smart Folder which have nothing to do with the Folder (Subscription) and I think it could also confuse and deter potential contributors.

We can worry about it later though, and I'll call the parent view `DetailView` as per @Eitot

[2017-01-28 06:59] Eitot commented on #771
Technically, Mail does not have the equivalent of a folder. There are just mailboxes. A feed/subscription would be a mailbox, an entry/article would be a message.

[2017-01-28 07:03] barijaona commented on #771
In fact, the error was to put the "New Subscription…", "New Smart Folder…" and "New Group Folder…" commands in the "File" menu. Logically, they should be in the Folder menu to mimic Apple Mail's behavior 🤓

[2017-01-28 07:05] Eitot commented on #771
Maybe I can have a look at the nomenclature Apple used in Snow Leopard. 😅

[2017-01-28 07:11] josh64x2 commented on #771
I found this image haha

![mactip82](https://cloud.githubusercontent.com/assets/799345/22395021/2d36a56c-e585-11e6-8d45-f85355551ba4.png)

But we are losing focus on the real issue here ;)

[2017-01-28 07:39] Eitot commented on #771
Yep, in Snow Leopard’s Mail there are feeds. Feeds are added; not subscribed to. There is no consistency with regard to the name for an entry, both ‘Message’ and ‘Feed Article’ are used. There is no equivalent for a folder, but ’New Mailbox’ is indeed in a separate menu.

![screen shot 2017-01-28 at 8 22 01 am](https://cloud.githubusercontent.com/assets/15073177/22395123/6b75138c-e534-11e6-8321-bc

[2017-01-28 07:47] josh64x2 commented on #771
My preference is for consistency with the what the user sees.

If I am a user and I notice a bug with the way emoji are displayed in the title of an RSS/Atom feed that I want to try and fix, I'm going to look for "feed" references in the code, not folder.
A folder is a collection of feeds for the user.

That's where I am coming from 😄

Anyway, @Eitot do you have a screenshot of the sidebar issue y

[2017-01-28 07:54] Eitot commented on #771
I find the word ‘Subscription’ a bit weird too. ‘Feed’ seems more to the point in a feed reader.

The first start of the program seems to work fine, but once you restart, the sidebar is collapsed either to the left or right as far as it can (there is a minimum-width constraint there that prevents it from collapsing all the way). I haven’t figured out what is causing it.

[2017-01-28 08:11] Eitot commented on #769
It seems that the remaining ‘momentum’ of the scrolling is carried over to the next article. Curiously, this happens in Apple Mail too.

[2017-01-28 08:12] josh64x2 commented on #771
Hmm that sounds like the NSSplitView autosave and restore isn't working properly again :(

[2017-01-28 08:19] Eitot commented on #771
Is everything else working?

[2017-01-28 08:42] josh64x2 commented on #771
For me it is all working on 10.12. Are there any constraint errors in the console?

[2017-01-28 09:08] Eitot commented on #771
I meant in ML. :)

[2017-01-28 09:48] josh64x2 commented on #771
Ahh yup! Everything else works, even the sidebar doesnt collapse. it's only the message list that collapses...

[2017-01-28 09:50] Eitot commented on #771
Curious that you can’t reproduce it. Have you perhaps enabled the state-restoration feature in ML? System Preferences → General.

[2017-01-28 10:11] josh64x2 commented on #771
I don't think so...
![screen shot 2017-01-28 at 21 10 51](https://cloud.githubusercontent.com/assets/799345/22395846/48452f04-e59e-11e6-9a75-b54df5a6bce5.png)

[2017-01-29 07:42] josh64x2 commented on #771
@Eitot I removed all of the NSSplitViewDelegate stuff from ArticleListView in my `mtnlion-autolayout` branch which has improved things on 10.8

I also investigated the console errors I was getting before and I believe the culprit is this guy:
![screen shot 2017-01-29 at 18 37 59](https://cloud.githubusercontent.com/assets/799345/22402631/3db5a92e-e652-11e6-8e27-ce4315f08611.png)

I removed some of

[2017-01-29 09:18] Eitot opened #772 "Build-time issues in Xcode issue navigator"
These warnings are getting a bit annoying, can we do something about them? Particularly update Pods/Vienna project to Xcode’s recommended settings and perhaps disable the ‘typecheck calls’ and deprecation warnings in ASIHTTPRequests, at least for the ‘development’ build configuration.

[2017-01-29 09:20] josh64x2 commented on #772
Sure - go ahead and disable the warnings for ASIHTTPRequest as we will be migrating away from it soon 🤞

Definitely also update the project configurations to Xcode's recommended settings as well :)

[2017-01-29 11:34] #772 closed

[2017-02-01 19:40] the10ccm opened #777 "All articles were marked as read"
Hi Vienna guys,

Today I've faced an issue. It is the second time when I spotted the same thing.
I added the http://feed.rutracker.cc/atom/f/1373.atom feed to a group folder. Articles were fetched. I opened an article. CPU and HDD stuck for some time and all articles in all subscriptions has been marked as read. I've tried to reproduce the issue however I can't repeat one.

I've got Vienna 3.1.8 :

[2017-02-04 18:01] nimdajitam opened #778 "Notify upon adding an identical feed"
Please, think about adding new feature that will notify user when adding new source (inside the dialog) that this particular one is already added to make the UX flow more intuitive and useful. Many, many thanks.

[2017-02-04 21:31] josh64x2 commented on #778
I agree this would be very useful.

[2017-02-05 07:31] Eitot commented on #262
Sparkle seems to be almost ready to support sandboxing too. They have a ui-separation-and-xpc branch (“2.0”) that awaits merging.

[2017-02-05 13:18] JanX2 commented on #262
Thanks for mentioning the state of Sparkle Eitot. Great to know!

[2017-02-06 01:29] josh64x2 commented on #771
So for `ArticleDisplayView` in Interface Builder, the attributes inspector shows this:
![screen shot 2017-02-06 at 12 28 13](https://cloud.githubusercontent.com/assets/799345/22631841/cce525f0-ec67-11e6-8e6d-3ab0dc6ac5a8.png)

I think the key for mountain lion is to make the view work with that checkbox disabled (which currently doesn't work in Sierra either).

Hopefully I'll have some time tonigh

[2017-02-06 01:33] Eitot commented on #771
Disabling that options means that we have to create the constraints ourselves. I suppose we have to do this in code, at the point where the view is added to its superview.

[2017-02-06 09:14] Eitot commented on #672
This behaviour is automatic for NSWindowController (which we currently don’t use). This requires some refactoring, as the main window is currently referenced 100+ times in AppController and elsewhere.

[2017-02-06 09:15] josh64x2 commented on #672
Ohh good to know - getting a proper NSWindowController is high on the list of priorities for me.

[2017-02-06 09:16] josh64x2 commented on #388
Closed by PR #779

[2017-02-06 09:16] #388 closed

[2017-02-06 09:26] Eitot commented on #648
Is this still a problem? I cannot confirm this.

[2017-02-06 09:30] Eitot commented on #320
I will add one, once I have moved the toolbar to Interface Builder. I am currently working on it, but it takes more time that I anticipated due to coupling issues.

[2017-02-06 10:33] Eitot commented on #740
With images you mean some image in the feed entry itself? Or the feed icon?

[2017-02-06 11:08] Eitot commented on #764
I have made a start on the toolbar in IB. Unfortunately, I have been running into lots of wee problems.

The toolbar depends on the plugin manager (for the custom toolbar items), but the plugin manager itself is only instantiated in `-awakeFromNib:`, so after the toolbar is loaded. This means that the toolbar calls its delegate before the plugins are initialised. I thought about just instantiating

[2017-02-06 14:17] mwoffenden commented on #740
<img width="958" alt="screenshot_428" src="https://cloud.githubusercontent.com/assets/6774346/22650402/2158640a-ec4d-11e6-8a74-637b32b07e3d.png">

[2017-02-06 14:18] mwoffenden commented on #740
<img width="958" alt="screenshot_428" src="https://cloud.githubusercontent.com/assets/6774346/22650432/40be9666-ec4d-11e6-9961-d9d26f9052c2.png">

[2017-02-06 20:26] josh64x2 commented on #764
It is recommended practice to keep the MainMenu.xib separate from the NSWindow xibs of your app. If we do that, MainMenu can load with PluginManager and then we can instantiate our main window + NSWindowController.

Would this approach work? It is something we need to do sooner or later so I could break out NSWindow +  NSWindowController.

I really want to try and get the autolayout working in 10.

[2017-02-06 20:27] josh64x2 commented on #740
@mwoffenden isn't this how the "Unified" layout works? Or is something missing from unified layout?

[2017-02-07 00:55] mwoffenden commented on #740
Unified is nice, but still is missing icons next to the articles.  See this browser UI from InoReader:
<img width="1630" alt="screenshot_431" src="https://cloud.githubusercontent.com/assets/6774346/22673111/1d2dfd78-eca6-11e6-9b10-cacc7f7dbc04.png">

[2017-02-07 00:58] mwoffenden opened #780 "Folder images should refresh automagically"
I'm only seeing the generic RSS icon.  I'm syncing with InoReader.

<img width="1438" alt="screenshot_432" src="https://cloud.githubusercontent.com/assets/6774346/22673177/959ee52e-eca6-11e6-80f5-333335adf57c.png">

[2017-02-07 09:50] Eitot commented on #764
No worries, this is just something I work on. What needs to be done before you can merge your branch into `autolayout`?

I actually think that Plugin Manager should not have any code that directly relies upon the UI. That’s a violation of the MVC pattern. It should do its tasks and then have a controller request the necessary information to build the UI.

[2017-02-07 09:57] josh64x2 commented on #764
I need remove the auto resizing masks and use constraints for the splitview i think. I was hoping to do it tonight but unfortunately something else came up.

I agree with you about Plugin Manager. I guess the other thing to consider is it worth making these changes now or should it wait for Swift?

[2017-02-07 11:07] Eitot commented on #764
That depends on how strongly we are committed to Mountain Lion.

Ideally, I would like to rewrite parts of the plugin manager and take advantage of Apple’s NSSharingService class for native sharing support and the extensions in Yosemite. Technically, this can be supported just fine in Mountain Lion, but I am not experienced with Objective-C. I’d prefer Swift, but I am not unwilling to learn more a

[2017-02-07 21:47] josh64x2 commented on #764
Well, so far your Objective-C code looks great! And if you send me an email to my gmail account (josh64@) I can send you some Objective-C resources that might help.

I do feel bad dropping 10.8 support, but now that is 4 versions behind, and any system that can run 10.8 can also run 10.9 - 10.11 I think we should drop it as soon as I can fix autolayout.
I will create a new branch after that for mo

[2017-02-08 01:44] mwoffenden commented on #780
Not sure why, but I had to manually "refresh folder images" to get them to show up.  (Why doesn't the program just update the images automagically?)

Also, there is a cloud symbol next to each feed.  Not sure that adds much value, maybe there should be a preference to turn those off?

[2017-02-08 01:55] mwoffenden opened #781 "AdBlock Plus"
Vienna's integrated browser is a great feature.  But please incorporate [AdBlock Plus](https://adblockplus.org/) into the browser.

[2017-02-08 06:17] Eitot commented on #781
This is not something developers can easily provide within the bounds of Apple’s WebKit APIs. I suppose it theoretically possible to use the source code of an open-source blocker and inject the contents into the web view using JavaScript. However, I don’t think that this is feasible at this time.

You should have a look at system-wide network-based blockers, such as [GlimmerBlocker](https://glimme

[2017-02-08 06:29] Eitot commented on #780
I agree that it should be refreshed automatically. I will mark this as a bug for now.

The sidebar is due for a makeover to bring it in line with Apple’s preferred style (see #764). I’ll mark it as an improvement request.

[2017-02-08 06:40] Eitot commented on #740
I think it would be desirable if we had a fourth layout style that uses multi-line cells, similar to Mail. The current layout styles want to be vertically compressed and I don’t think that we should add images there.

[2017-02-08 06:43] Eitot commented on #777
I can’t reproduce this either. :/

[2017-02-08 07:12] Eitot commented on #756
It is a bit unusual to use non-standard date formats in feeds. It is possible presently, but I think that this may be desirable to implement nonetheless.

[2017-02-08 07:23] Eitot commented on #764
Sounds reasonable. At the end of the day, it doesn’t really help us if we constrain ourselves when there is still so much that can be done. Apple seems to be ramping up the development of Cocoa with lots of convenience classes and UIKit transplants, which would be unfortunate to miss.

[2017-02-08 13:54] mwoffenden commented on #780
Great, looking forward to that.  Could we have an option to turn off those pesky cloud images?

[2017-02-08 14:03] mwoffenden commented on #781
[GlimmerBlocker](https://glimmerblocker.org/) appears to be working well with Vienna.  Nice!

[2017-02-12 01:18] josh64x2 commented on #764
Well I've tried a lot of things to fix it - you think it would be simple to add some constraints to pin the top/bottom/left/right to the superview, but it's not because Interface Builder doesn't recognise that the superview is the "Partner View".

I'm thinking `NSViewController` and add the constraints in code using the visual format language.

[2017-02-13 04:56] josh64x2 commented on #781
I think we can close this, though maybe we need to suggest GlimmerBlocker on the FAQ or something.

[2017-02-13 04:56] #781 closed

[2017-02-14 16:07] mwoffenden commented on #740
Regarding the images in the article list...

- It would be great if the end user had some control over the image height.  S/M/L?
- Ideally the image area would collapse if there's no image.

[2017-02-15 09:37] josh64x2 commented on #771
I'm still trying to fix this 😬 Unfortunately I haven't had as much time as I would have liked lately. I hope to get it done this weekend!

[2017-02-15 09:38] josh64x2 commented on #771
@Eitot do you think sticking it in an NSBox might help?

[2017-02-15 12:23] Eitot commented on #771
NSBox is just a subclass of NSView, I doubt that it changes anything. I actually got rid of all the boxes, because they were difficult to work with when I enabled Auto Layout.

[2017-02-17 17:51] Eitot opened #782 "PSMTabBarControl.palette"
What does this bundle do exactly? A quick search suggests that it may be a remnant of pre Xcode 4.

[2017-02-17 20:24] josh64x2 commented on #782
Judging by the contents it looks similar to an asset catalogue.

[2017-02-17 20:46] Eitot commented on #782
It’s a plug-in for Interface Builder. It used to be possible to add custom objects to the utility area (the tabs were called ‘palettes’. It disappeared with Xcode 4. I guess we can get rid of it.

[2017-02-18 00:53] mwoffenden opened #783 "How about a "mark all read" button above the article list?"
<img width="1533" alt="screenshot_449" src="https://cloud.githubusercontent.com/assets/6774346/23088457/c1a77bfc-f54a-11e6-98de-a1890582b85c.png">

[2017-02-18 01:25] Eitot commented on #783
This has already been suggested in #320. I am closing this to avoid duplicates.

[2017-02-18 01:25] #783 closed

[2017-02-18 03:17] josh64x2 commented on #782
I'm happy for it to go now, or we can wait for when we kill off PSMTabs altogether - your call :)

[2017-02-18 14:22] maxnordlund opened #785 "YouTube entries are completely blank"
Hi, I recently started using Vienna and it works really well, except for YouTube feeds. As you can see the article/video is completely empty. Now I don't expect there to be an video, and I'm totally fine with having to open the video in a browser, but I would like to see the description and whatnot.

![vienna-screenshot](https://cloud.githubusercontent.com/assets/664779/23093809/1717fc5e-f5ed-11e6

[2017-02-18 23:14] #782 closed

[2017-02-20 21:16] Eitot commented on #771
Did you have a chance to have a look at it?

[2017-02-20 21:22] josh64x2 commented on #771
Unfortunately no, I've been unwell 🤒
One of the problems seems to be related to disclosure view: for some reason the height of the tab bar gets calculated incorrectly and when it is collapsed it thinks the constraint for the height is -2.

[2017-02-20 21:45] Eitot commented on #771
I haven’t observed that particular behaviour yet, but the disclosure view is not an ideal implementation anyway. I modelled it after Apple’s example with the stack view and it does not seem to work that well without them. Plus, the tab bar is not compatible with Auto Layout to begin with, I’ve had to manually force an intrinsic size on it.

[2017-02-20 21:52] josh64x2 commented on #771
Ok that is probably why - because the proplem with height occurs after I change the Article Display View to use auto layouts instead of transforming auto resize masks.

If I don't manage to fix it by this weekend I suggest we drop 10.8 support early.

[2017-02-20 21:59] Eitot commented on #771
I am still pondering what to do next. I have started working on the toolbar and a new implementation for the plug-in manager, but I am stuck when it comes to implementing it. I think that separating code from the app controller is a high priority, because everything seems to be leading back to it. But the class is so massive that I just don’t know where to begin.

Do you have any suggestions for s

[2017-02-20 22:13] josh64x2 commented on #771
I have the exact same problem you do - I'm not sure where to start! Some ideas I've had previously are:

- Create a proper AppDelegate and moving the app delegate functions out of AppController
- For the folder list outline view, move the dataSource and delegate into its own class so we can look at moving to view based Tables.
- Remove Growl and the Growl code from AppController (requires dropping

[2017-02-20 22:27] Eitot commented on #771
Rewriting the whole project seems to be a wee over the top. 😜

I think we won’t get around a full analysis of the app controller. I will have a look at removing code wherever I can, in small steps. Writing a new app delegate seems to be a good goal.

I have already taken care of the toolbar delegate methods, and will have a look at all the toolbar-related actions.

[2017-02-20 22:29] Eitot commented on #771
We should also think about restructuring the project directory. Currently it is just a bit too chaotic for my liking. This however will also be painful, considering all the config files and scripts.

[2017-02-20 22:36] josh64x2 commented on #771
I like the way https://github.com/coteditor/CotEditor has their project folder set up.

There are so many things I want to fix haha, I think getting rid of ASIHTTP is probably the most important though :(

[2017-02-20 22:39] Eitot commented on #771
You were already working on a replacement, right?

[2017-02-20 23:08] josh64x2 commented on #771
Yeah and then I got distracted with this 10.8 autolayout haha.

Replacing it with minimal afford requires dropping 10.8 support too so we can use NSURLSession etc sooo that's sounding pretty good right about now.

[2017-02-20 23:12] Eitot commented on #771
Is it a lot of work still?

[2017-02-20 23:16] josh64x2 commented on #771
It's a fair bit of work because we need to use asynchronous network programming and the current mess of code assumes a synchronous flow.

The new subscription window is an example - it should not hang while it waits to add a new subscription. Instead, it should display some sort of progress indicator and then when it has verified the new subscription it can enable the OK button to commit the subsc

[2017-02-20 23:56] Eitot commented on #771
Sounds like a ton of fun. 😄

But it will be a worthwhile improvement. ASIHTTPRequest, Growl, MASPreferences, SDEvents etc. all have Cocoa replacements nowadays. Even the database stack could probably be refactored into Core Data. It is astonishing how much work Cocoa developers had to do years ago.

[2017-02-21 03:39] barijaona commented on #771
I agree it's time to drop 10.8. We can explain the rationale behind it in a blog post.

[2017-02-21 09:47] josh64x2 commented on #771
@barijaona OK great 👍

@Eitot Looks like we can change to stack view now 😄

[2017-02-21 12:20] TuomLarsen opened #787 "Hide "Search for folders" search box"
I recently upgraded to Vienna 3.1.8 and now it shows  "Search for folders" search box in the very top left corner.

Is it possible to hide it, like it was in previous versions (it there was one, at all, that is...)?

[2017-02-21 12:42] Eitot commented on #771
Have you merged your ML branch yet? I cannot see it anymore.

[2017-02-21 17:45] barijaona commented on #771
Mmmh, merging your various branches is getting difficult to read.

Your respective works diverged starting from commit 08aff47a06a1a4531d00b233e5bdf440d76eafde, and you started mixed things directly related to autolayout with other stuff.
I suggest that we restart from commit b2fe4ded459afd869b55d1bed07386786b852a0d for layout related work, and merge it quickly into master.

[2017-02-21 17:53] mwoffenden commented on #286
Yes, please...

[2017-02-21 18:32] josh64x2 commented on #771
I deleted my mtnlion-autolayout branches because all of the other changes in the main autolayout branch created merge conflicts.

Now we don't need a proper mtnlion-autolayout branch I don't intended to recreate one haha

[2017-02-21 19:06] barijaona commented on #771
My point is that these recent branches are breaking our [guidelines](https://github.com/ViennaRSS/vienna-rss/wiki/Good-manners-with-Git) for submitting code. It’s getting very difficult to identify what is finished and what is not.

We need to refocus a bit and have separate branches which are gradually merged into master when their respective purpose is reached.

For instance, I have an issue wit

[2017-02-22 10:32] josh64x2 commented on #771
I'm closing this because I can't work out how to fix it for mountain lion and I would rather spend time supporting the majority of users that are not on 10.8

Whoever wants to try and fix it can feel free!

[2017-02-22 10:32] #771 closed

[2017-02-22 17:28] Eitot commented on #771
The `autolayout` branch misses some of the fixes that barijaona and I made on your Mountain Lion branch. The last snapshot of these are in my [`autolayout`](https://github.com/Eitot/vienna-rss/tree/autolayout) branch. I think we have to look at merging those.

[2017-02-22 19:50] josh64x2 commented on #771
@Eitot OK I'll have a look at it - thanks!

[2017-02-23 07:53] josh64x2 commented on #787
Hi @TuomLarsen, this will be coming in Vienna 3.2.x - keep an eye out 👍

[2017-02-23 07:55] josh64x2 commented on #787
Duplicate of #582

[2017-02-23 07:55] #787 closed

[2017-02-23 08:22] josh64x2 opened #788 "[meta] Dropping 10.8 support"
@barijaona @Eitot I thought it would be best for us to discuss in a stand-alone issue since we don't have much luck finding each other on IRC/Matrix/Slack.

As a trial I have created two new branches from `master` on my fork:
1. [`legacy3.1.x`](https://github.com/josh64x2/vienna-rss/tree/legacy3.1.x) which I imagine will serve the same purpose as [`legacy3.0.x`](https://github.com/josh64x2/vienna-

[2017-02-23 08:33] josh64x2 commented on #788
Do we want to squash all of the autolayout commits (the actual localisation and xib conversion ones) into one big commit?

[2017-02-23 15:25] Eitot commented on #788
Sounds reasonable to me. Some of the XIB commits are massive though.

[2017-02-24 00:29] barijaona commented on #788
The situation seems a bit difficult to handle, especially regarding `Vienna.xcodeproj/project.pbxproj`. My priority would be keeping internationalization and help books consistent between the two branches.

How about trying this for the reference branch ?
1. checkout from situation [at commit 736313b4e7887f177d2c71ed8251247841d337bb](https://github.com/ViennaRSS/vienna-rss/tree/736313b4e7887f177d2

[2017-02-24 00:36] josh64x2 commented on #788
OK, my concern is the localisation fixes are dependent on base internationalisation, which is dependent on auto-layout... which I can't fix on 10.8.

[2017-02-24 00:36] josh64x2 commented on #788
Helpbook bundle also relies on base internationalisation so that won't work on 10.8 either.

[2017-02-24 00:43] barijaona commented on #788
This is why I'd give a try doing manually the other localization fixes, and guess what a massive diff would do from there.

[2017-02-24 01:37] josh64x2 commented on #788
That brings me back to: It's a lot of work for very little gain. We have very few users on 10.8 that would benefit from localisation fixes.

I'll leave that as a task for you to do if you wish. In the meantime I'll fork from `autolayout` branch and make changes that will benefit > 99% of the users.

[2017-02-24 02:53] barijaona commented on #788
Rethinking about it and trying to reformulate it, I don't care about 10.8 anymore than you.
What really worries me for the future is the absence of an intelligible history. I hate having to deal with unclear history like those we had around June 2011-August 2011. I think situations like this hinders future debugging and development and significantly discourage people from contributing to the proje

[2017-02-24 02:56] josh64x2 commented on #788
OK I will look into June 2011-August 2011 and try to understand what you mean.
Thank you for taking the time to explain! I know this is difficult to communicate over text + slight language barrier.

[2017-02-24 03:37] Eitot commented on #788
I understand the concerns, but I would just like to point out that I could not discriminately work file-by-file while maintaining the integrity of the pbxproj.file. This file is such a pain to manage that I chose to do everything in batches rather than in completely linear steps. That is why something breaks from one commit to another. My thought was that these larges IB changes are better reviewe

[2017-02-24 04:02] barijaona commented on #788
I suggest one of you guys add comments to commits (especially at merges). I suggest using something like [GitUp](http://gitup.co) which I find particularly convenient for this. It could also allow you to perform minor reorganization.

Then you would resubmit the commented out branch to be merged into master.

[2017-02-24 04:17] barijaona commented on #788
An update to the [localization guide](https://github.com/ViennaRSS/vienna-rss/wiki/Quick-localisation-of-resources) would also be useful.

[2017-02-24 10:13] josh64x2 commented on #788
@barijaona are you asking for the commits to be amended with different comments?

[2017-02-24 16:36] barijaona commented on #788
I am currently beginning a deeper review of your code.

My current impression : you gave some info about **what** you did. But given the complex interrelations between different subjects (localization fixes, base internationalization, autolayout) and the important number of commits and modified objects, it would be nice to have more informations about **why** you did some things. I can find some c

[2017-02-24 18:34] TuomLarsen opened #789 "Refresh Today's Articles"
I recently upgraded to Vienna 3.1.8 and I've just noticed that "Today's Articles" does not refresh.

I usually kept the "Today's Articles" selected so whenever I started Vienna, it pulls new entries in and the list of entries (title, date, author) got updated. Now I have to select different folder, and then select Today's articles again, to make the new articles appear in the list.

I use "Vertica

[2017-02-25 02:00] josh64x2 commented on #788
@barijaona I apologise that I forgot about the 7 day review window before PRs are accepted (according to the contribution guide) - I personally think this is too long and 3 days is probably better but that's my own opinion.

However, I think we need to have a level of trust between us. If one of us thinks that something is acceptable to be merged then that should be OK.
E.g. PR #725 and #734.

@Ei

[2017-02-25 04:59] barijaona commented on #788
Please, let me  put things straight : I think nobody should ever feel guilty because of a contribution he made or a decision he took. It is particularly true in the current situation, because nothing has been merged yet into ViennaRSS's `master`. ViennaRSS's master should remain the one and only sacred cow in this project 😄 !

What alarmed me first was PR #786. Though it was submitted to Vienna's

[2017-02-25 05:58] barijaona commented on #788
Regarding the 7 days window review. Yes, it is a bit long, but :
- it only applies to ViennaRSS's master. Anyone may open a public issue and request comments or improvements to one of its personal branches to enable much faster cooperation. Only the final pull request to ViennaRSS's master will be subject to the 7 days review,
- the rationale behind 7 days is to include a week-end in the review pe

[2017-02-25 06:05] barijaona commented on #788
And the 7 days window is a maximum which only applies to your own work (you can merge yourself if nobody objected in the time period). On the contrary, as soon as another member of the team has performed an independent review of your code and is satisfied with it, he may merge it immediately.

[2017-02-27 03:39] barijaona commented on #788
Hi all ! Could you have a look at these 3 branches in my repo ?
 - projectevolution
- AutoLayout+BaseInternationalization
- modernization

`modernization` is a mockup of what could be the future `master`. `modernization` is identical to current `Eitot/autolayout` (apart from a fix to image references in French help files). But from my point of view, its history is easier to understand for a third

[2017-02-27 06:21] barijaona commented on #788
Sorry, refer to branch modernization2 instead of modernization in the above message. Everything else unchanged.

[2017-02-27 09:15] TuomLarsen commented on #789
Sorry, wrong alarm. One feed took too long to refresh, causing delay in the whole "list" update.

[2017-02-27 09:15] #789 closed

[2017-02-27 09:46] josh64x2 commented on #788
OK I should have a chance to review tomorrow.

[2017-02-28 09:33] josh64x2 commented on #788
@barijaona I have had a chance to review. `projectevolution` looks good!
I find the history of `AutoLayout+BaseInternationalization` no easier to read than the history of https://github.com/josh64x2/vienna-rss/commits/master-test which is `autolayout` merged into `master` (but called `master-test`).

`modernization2` has shared commits with `AutoLayout+BaseInternationalization` so it isn't a uniqu

[2017-02-28 22:45] barijaona commented on #788
OK, I think I fixed it. Could you review my master-test branch at https://github.com/barijaona/vienna-rss/tree/master-test ?

My version of legacy3.1.x goes a little further than yours, as it incorporates the new organization for help files : https://github.com/barijaona/vienna-rss/commits/legacy3.1.x

[2017-03-01 05:05] barijaona commented on #788
There is room for small enhancement (Vienna.help should not appear in Xcode) but I'm very happy with the current result. Thanks to your combined work, UnifiedDisplayView's behavior is much better.

But it is very important to incorporate the solution to issue #724 that @Josh64x2 apparently found. Could you publish its current state and I will try to incorporate it in one of my branch ?

[2017-03-01 05:26] josh64x2 commented on #788
I don't see a problem with Vienna.help being in Xcode - it is a dependency of the app and it is nice to see all resources for the app inside Xcode. This is actually the way Apple and all other tutorials do their help books.

I can only incorporate half of the solution, and that is enabling layer backed views on our xibs. The network half will require dropping 10.8 so I can use `NSURLSession` API i

[2017-03-01 09:36] barijaona commented on #788
Apparently, I didn't pick the good version, and it should probably in a product group.

The crashlogs I have encountered so far make me suspect the xibs more than network stacks.
So if you publish your solution, I can try cherry picking so that we can start 3.2 development from good foundations.

[2017-03-01 20:40] josh64x2 commented on #788
Yes, the first crash logs show graphics issues. After layer backed views are in enabled, the logs show problems with waking from sleep and the networking calls being synchronous and hanging.

My layer-backed view changes were made when everything was in .nibs and so the git commits wont be able to be applied to the current branch.

[2017-03-02 04:37] barijaona commented on #788
I understand this, but could you publish anyway your latest layer-backed branch so that everybody may have a better understanding of the future merges to come into master.

[2017-03-02 07:25] Aoiike opened #791 "New Icons"
I saw that you were looking for some new Icons, so I made these and adjusted the layout slightly
![preview](https://cloud.githubusercontent.com/assets/26124815/23495367/3a93040e-ff10-11e6-8a3b-6641cd106f76.png)
This is just a heavily modified screenshot as a preview.

My Thought Process:
1. Most of the Icons Vienna currently uses are for sharing the current article on various services, which would

[2017-03-02 08:55] josh64x2 commented on #791
Oh thank you! I really like these!

1. I thoroughly agree with using the share button. We would also need to work out how to integrate our custom share services with the system provided share services.
2. We might be able to provide a toggle to hide the titlebar. I recall seeing it in some applications.
3. Segmented control for the view modes is a good idea! I'm sure it would be useful for some pe

[2017-03-02 09:11] josh64x2 commented on #788
If I make changes to nibs before we apply autolayout, the changes are going to get wiped out as soon as we merge autolayout because the nibs will no longer exist and enabling layer backed views is done through interface builder. You can see that here https://github.com/josh64x2/vienna-rss/commit/1337d2ae3406af73f401a78ba217bf3f4b17c84f (it turns out I had pushed an old version of the branch to my

[2017-03-02 09:42] josh64x2 commented on #788
Can you please submit the pull requests for your branches in the order you want me to merge them into master? Thanks!

[2017-03-02 13:36] Eitot commented on #791
This would fit indeed perfectly with my ideas too. I am currently rewriting the plug-in manager so that it takes advantage of NSSharingService.

I am not sure about putting them into the share button though. Putting them into that button will probably change the workflow of some users. Moreover, the menu is not really meant for dropping as many custom services into it as Vienna currently has plug-

[2017-03-02 14:27] Eitot commented on #788
I think we can drop this commit, no? https://github.com/barijaona/vienna-rss/commit/439e4ef76c9167d5272b6c8d252d8afff3b5a0b7

[2017-03-02 16:32] pckizer opened #792 "Vienna-rss website parked due to expiration Feb 24"
Visiting the official site I see:

Welcome to: vienna-rss.org
This Web page is parked for FREE, courtesy of GoDaddy.com.

FYI

[2017-03-02 21:11] josh64x2 commented on #792
Thanks @pckizer I raised this issue with the domain holder yesterday (@mstroeck) and hopefully they can fix it soon.

[2017-03-02 21:14] josh64x2 commented on #788
Yeah I guess we can because it's only required for 10.8 which won't be getting the autolayout-UI specific changes

[2017-03-03 04:20] barijaona commented on #788
Josh wrote :

I understand your impatience, but I am pretty sure here that preserving the long term future was a well spent time.

You guys did an excellent work coding in the recent weeks. But in your impatience to clean old code, you probably didn't give much thought to a strategy regarding merging and syncing code. Merging is THE number one issue you have to deal with when working with several

[2017-03-03 04:34] barijaona commented on #788
@Eitot wrote :

From a strict technical perspective, probably yes. But I prefer keeping the same structure for all localizations.

[2017-03-03 04:37] barijaona commented on #788
For your information, the future history would have a lot of similarity with [this](https://github.com/barijaona/vienna-rss/commits/master-test2) (updated branch master-test2).

[2017-03-03 06:55] josh64x2 commented on #788
@barijaona I still see you are not making any real compromise - even with https://github.com/barijaona/vienna-rss/commit/439e4ef it is all about what you want to do.

Please consider the views of the other two main contributors.

[2017-03-03 06:59] josh64x2 commented on #788
I think I have deviated a little bit from the original purpose of this issue so I will close it. I have accepted the PR and look forward to making more substantial changes once we branch `legacy-3.1.x`.

Thank you for taking the time to pull the commits out and put them back in separate branches.

[2017-03-03 06:59] #788 closed

[2017-03-03 07:20] josh64x2 commented on #792
I just registered vienna-rss.com and I'll wait another day to see if vienna-rss.org gets renewed. If it doesn't i'll start moving everything to vienna-rss.com. FYI @barijaona

[2017-03-03 08:04] Aoiike commented on #791
They are optimized for 1x scale, and this is how they look in Mavericks style.
![composition-m](https://cloud.githubusercontent.com/assets/26124815/23539200/60dcc76e-ffd1-11e6-959a-8fe0b120890a.png)

[2017-03-03 11:27] barijaona commented on #788
Josh, I have to express my surprise and disappointment on your reaction. I am afraid you are taking what should remain a technical review as a personal affair.

This is the first time ever I had a real problem with a pull request and I think I took enough time to explain my reasons. When I understood that you were not in a position to change things quickly, I spent nights to design what I consider

[2017-03-03 11:33] barijaona commented on #788
Josh, I have to express my surprise and disappointment on your reaction. I am afraid you are taking what should remain a technical review as a personal affair.

This is the first time ever I had a real problem with a pull request and I think I took enough time to explain my reasons. When I understood that you were not in a position to change things quickly, I spent nights to design what I consider

[2017-03-03 14:03] pckizer commented on #792
Did you ever get any response from @mstroeck ?

[2017-03-03 14:22] Eitot commented on #788
But now we have additional maintenance for no practical reason. There aren’t just strings files in there, but also plist files. It is also possible that the en.strings might diverge from the base in the future, if we are not paying attention. After all, localization of XIB files is different from localizable.strings, because there is no pattern matching involved.

I still have to update the string

[2017-03-03 21:17] josh64x2 commented on #788
@barijaona  the technical reason for not keeping https://github.com/ViennaRSS/vienna-rss/commit/439e4ef76c9167d5272b6c8d252d8afff3b5a0b7 was already explained:

1. It is only needed for autolayout on 10.8 which we are not proceeding with
2. Keeping it increases bloat and maintenance

I will email you about the other stuff.

[2017-03-03 21:30] josh64x2 commented on #792
Hmmm no I haven't. @barijaona I think we should start migrating to vienna-rss.com if you are OK with it?

[2017-03-04 00:19] barijaona commented on #788
We'd need to keep at least en.lproj/Localizable.strings. There are entries where the key in source code is different from the english text. Ex : line 62, 90, 91…

For the other .strings, I see it mainly as a question of personal preferences. For instance, there was recently a questioning about the use of the term "folder". If we decide to replace "folder" with "feed", one would either have to :
-

[2017-03-04 00:29] josh64x2 commented on #788
Hi @barijaona I think you are confused - Base.lproj IS essentially the same as en.lproj because in xcode we set the base localisation to be English.

In your example, we would simple change "folder" to "feed" in the file `Interfaces/Base.lproj/Localizable.strings` for the English language. If we had selected French as the base language, we would not need fr.lproj because `Interfaces/Base.lproj/Loc

[2017-03-04 01:09] Eitot commented on #788
Just to add to what Josh has said, changing a string in a XIB file has no direct consequences for any *.strings file. As I said above, there is no pattern matching for *.strings files that belong to XIB files.

In Localizable.strings, you would have this:
[code]

In SearchFolder.strings, you have this:
[code]

The “94.title” is a unique object identifier in the XIB file. We can change the string i

[2017-03-04 01:14] barijaona commented on #788
I understand, but cf. my specific remark regarding Localizable.strings which already contains some differences between keys and displayed texts.

.m source code refers to some wording [here](https://github.com/ViennaRSS/vienna-rss/blob/master/src/AppController.m#L2922-L2927), but the texts shown to the user is different [even in English](https://github.com/ViennaRSS/vienna-rss/blob/master/lproj/en

[2017-03-04 01:23] barijaona commented on #788
Did someone have feedback about the use of [OHAutoNIBi18n](https://github.com/AliSoftware/OHAutoNIBi18n) ?

[2017-03-04 01:35] Eitot commented on #788
You are still not making a case for keeping the _en_ localisation files though. As Josh said, the Localizable.strings files in Base and en.lproj are identical. For all intents and purposes, the base Localizable.strings file is that abstraction layer you write of. I do not think that it makes things easier if yet another layer is added. Potentially, we can end up with having three different version

[2017-03-04 02:03] barijaona commented on #788
You're right, no requirement to keep en.lproj/Localization.strings.

But I still think it's just a question of personal preferences. I dislike Interface Builder (it was and still is a mighty Git history polluter…) and prefer inspecting English text files to using it.

Anyway, majority rules. I'll stop the discussion here and remove en.lproj.

[2017-03-04 02:09] Eitot commented on #788
I agree that IB is not ideal for git and continuous integration. I also dislike that you never get a good feel for what is happening behind the scenes as you are working with objects. There is a certain beauty to instantiating components yourself and only setting the values that you need, rather than what IB all does.

However, I really, really do not like 'dumb' code that serves no other purpose

[2017-03-04 02:20] barijaona commented on #788
Updated branch [master-test3](https://github.com/barijaona/vienna-rss/commits/master-test3) in my personal repo.

[2017-03-04 02:29] barijaona commented on #788
If you don't mind, I'll squash a few commits to make the history easier to read.

[2017-03-04 02:30] josh64x2 commented on #788
We can revisit when we look at storyboards.

[2017-03-04 04:10] barijaona commented on #788
Oooups ! Something was broken at master-test3 (manual merges always require attention…), here is a [master-test4](https://github.com/barijaona/vienna-rss/commits/master-test4)

[2017-03-05 09:39] josh64x2 commented on #792
I've set up vienna-rss.com and it should start to work in around 3 hrs. I'll need to update the wordpress config when it goes live.

[2017-03-05 20:23] josh64x2 commented on #792
Ok it's all working on .com now and I've posted an announcement on the forums. There will be some broken links but I'll tidy them up over the next day or so.

[2017-03-05 20:23] #792 closed

[2017-03-05 21:27] josh64x2 opened #796 "Change Vienna website links to .com"
Need to change links in the GitHub README.md, wiki, and jekyll site to use vienna-rss.com .

We could update wordpress pages as well but I want to accelerate the jekyll site theme being done by @benhalverson that will hopefully replace wordpress.

@barijaona please check #random channel in Slack to see the work I've been doing with @benhalverson

[2017-03-06 09:29] josh64x2 commented on #796
No changes required for the wiki

[2017-03-06 09:36] josh64x2 commented on #796
Someone might need to update any links in the new help bundle too, and maybe the app's About window?

[2017-03-06 16:49] #796 closed

[2017-03-06 19:31] Eitot opened #798 "On plug-ins"
I am currently thinking about/working on a new implementation of the plug-in manager, which I hope to focus on once the Auto Layout transition is done.

### Current implementation
In a nutshell, the PluginManager class loads the data from disk and produces toolbar and menu items. This class is instantiated in the AppController class in `awakeFromNib` (i.e. MainMenu.xib is loaded from disk). During

[2017-03-07 06:34] josh64x2 commented on #791
They look great 👍 but I'd like to hear @barijaona's thoughts as well.

[2017-03-07 10:12] josh64x2 commented on #798
Hi @Eitot, I don't have much time to make a detailed comment for now but I'll give some feedback so you can keep thinking :)

I think we could have styles be another type of plugin like you suggested. The ArticleView could fetch style type plugins from the PluginManager.
For naming, I like extension but I think that could get confused with native macOS extensions and so it is probably better to ca

[2017-03-07 13:50] Eitot commented on #798
I have the same concerns about the word extensions. Bundle seems too broad though. I will have a look at some other software for inspiration. The only app with such a plug-in system that I have on my system is Sketch and it calls them plug-ins too.

I will be drafting it in Swift, because I am more comfortable with that language. The plug-in models also lend themselves for value types. It should n

[2017-03-07 17:47] barijaona commented on #791
I like all these icons, but like Eitot, I‘d prefer a tilted app icon (seems more Mac like to me).

[2017-03-07 20:41] Aoiike commented on #791
![icon_128x128](https://cloud.githubusercontent.com/assets/26124815/23676688/66811c04-0375-11e7-8c30-a0e5087a901e.png)
Nine degrees later

[2017-03-07 21:01] josh64x2 commented on #798
I don't like the singleton pattern but it makes sense for something like a plugin manager. We don't have to use singleton though as we could instantiate it as a normal object and pass a weak reference to other view controllers that need access to the plugin manager.

I'm happy with you keeping all of the code in Swift as that will be the future of Vienna anyway. You don't have to try and translate

[2017-03-07 22:15] Aoiike commented on #791
This is how the HiDPI versions look
![hidpi](https://cloud.githubusercontent.com/assets/26124815/23680492/4f378566-0383-11e7-8321-4bcec0d8c967.png)

[2017-03-08 08:32] JanX2 commented on #791
@Aoiike
Observations:
1. I may be wrong, but to me it feels like the icons in the center don’t have enough whitespace around them. They fill much of the area available. Do you think they would look better, if shrunk down, so they have one Cocoa point/1x pixel more breathing room in all directions?
2. The back and forward arrows are split into two filled shapes, while in the third icon, the arrow i

[2017-03-08 09:33] josh64x2 commented on #791
So according to https://developer.apple.com/library/content/documentation/UserExperience/Conceptual/OSXHIGuidelines/ToolbarIcons.html#//apple_ref/doc/uid/20000957-CH89-SW1 the template images should be:

* Create images that measure no more than 19 x 19 pixels.
* Make sure the image is visually centered in the control (note that visually centered might not be the same as mathematically centered).

[2017-03-08 13:48] JanX2 commented on #791
That probably hasn’t been updated and should say “points”. ;)

BTW: the filter icon is a case of not being “visually centered” as per the docs.

[2017-03-08 15:23] Eitot commented on #791
Keep in mind that we have not made up our minds on how the toolbar is going to look in the near future. For instance, there were some suggestions for a combined search field, so we might not need a toolbar icon for the filter. I have also seen a request for a ‘mark as read’/‘mark all as read’ toolbar item. We currently also have ‘Style’ and ‘Get Info’ toolbar items.

We would also be needing some

[2017-03-08 15:33] barijaona commented on #724
@Josh64x2 could you publish your most recent branch handling this issue ? I understand that it will not be able to directly merge into current master, but I'd like to have a look as I encountered a few crashes lately.

[2017-03-08 17:11] Aoiike commented on #791
The HiDPI screenshot is what I hacked together (I'm not good at Xcode), and I haven't figured out alignment yet, so everything including the buttons themselves are misaligned.

@JanX2 I did consider the whitespace and dimensions of the Icons while I was making them, and I opted for clarity of purpose over fitting the size guideline. Now that I've been looking at them for a while they look totally

[2017-03-08 17:13] Eitot commented on #791
They still have to be drawn though, there are no such template images in the APIs.

[2017-03-08 17:57] Aoiike commented on #791
Can you load them in from /System/Library/CoreServices/CoreTypes.bundle/Resources, or did SIP break that?

[2017-03-08 18:11] Eitot commented on #791
I do not think so, but it is not a good idea. The paths could change in future macOS versions and as far as I know, we are aiming for sandboxing one day. Best to bundle our own resources or use documented Cocoa APIs.

[2017-03-08 18:12] Aoiike commented on #791
Okay, I'll add those to the list.

[2017-03-08 18:14] Eitot commented on #791
In case you haven’t seen it, Apple has guidelines for those icons too: https://developer.apple.com/library/content/documentation/UserExperience/Conceptual/OSXHIGuidelines/SidebarIcons.html.

[2017-03-08 18:31] JanX2 commented on #791
@Aoiike
I believe that the 19x19 recommendation is, because this way, there always is a row of pixels horizontally and vertically that coincides with the exact center of the icon.

You can break with the guidelines, of course. The issue I described comes in part from the variation in whitespace across the icons. :)

[2017-03-09 07:32] josh64x2 commented on #724
Hey @barijaona it is at https://github.com/josh64x2/vienna-rss/commits/issue-724

I can start working on the networking code now I can get rid of ASIHTTPRequest.

[2017-03-09 07:36] josh64x2 commented on #791
Here is a list of the system provided images we can use for controls https://developer.apple.com/library/content/documentation/UserExperience/Conceptual/OSXHIGuidelines/SystemProvided.html#//apple_ref/doc/uid/20000957-CH92-SW3

And here is the list of icons (including a smart folder icon) https://developer.apple.com/library/content/documentation/UserExperience/Conceptual/OSXHIGuidelines/SystemProv

[2017-03-09 07:56] DavidMunch opened #799 "vienna-rss.org down and domain expired?"
Site is down and it appears the domain expired on 2/24/2017.

[2017-03-09 07:58] josh64x2 commented on #799
@DavidMunch yeah @mstroeck let it expire and hasn't responded to our attempts to contact him. (see #792)

I purchased vienna-rss.com and changed all our links in #796 which is the best solution I could come up with...

[2017-03-09 07:59] josh64x2 commented on #799
I'll close the issue but any discussion can continue :)

[2017-03-09 07:59] #799 closed

[2017-03-09 08:01] DavidMunch commented on #799
Ah, good that you aware of it! I didn't see the other issue in the list, because it was closed already. 8)

[2017-03-09 08:01] josh64x2 commented on #799
I guessed that was the reason :) Hopefully our search links will slowly update...

[2017-03-09 08:02] josh64x2 opened #800 "Change links in helpbook to vienna-rss.com"
We have some links in our helpbook files that need to be changed from vienna-rss.org to vienna-rss.com

[2017-03-09 11:36] Eitot commented on #800
Will send a PR later.

[2017-03-09 11:39] Eitot commented on #764
Are we ready to update the project config for 10.9?

[2017-03-09 18:37] josh64x2 commented on #800
@Eitot I notice in your pull request all of the other links I didn't think about; namely the default feeds.

Should I write a small migration statement in the DB migration code to replace any existing vienna-rss.org feed URLs with vienna-rss.com ones for users that kept the default feed to keep updated on Vienna?

[2017-03-09 18:49] Eitot commented on #800
That is probably a good idea, yes. Provided it doesn’t add too much bloat to the codebase. 😛

[2017-03-09 19:54] Eitot commented on #791
Unfortunately, we cannot use those folder icons. Apple provides no templates for the sidebar. 😒

[2017-03-09 19:57] Eitot commented on #766
I suppose the bundle identifier should become com.* now.

[2017-03-09 20:03] Eitot commented on #603
How about 10.9?

[2017-03-09 20:19] josh64x2 commented on #603
10.9 supports the `identifier` property on `NSUserNotification` which wasn't in 10.8 and so didn't support all of the Growl features we use.

[2017-03-09 20:46] Eitot commented on #603
Cool! From what I can see, Growl is only used in the DownloadManager. I suggest we place the NSUserNotification code there or in a subclass and remove the delegate methods from AppController entirely.

[2017-03-09 20:48] josh64x2 commented on #603
I was thinking of creating a notification manager for the App Delegate to fire any user notifications like when you refresh subscriptions as well as downloads .

[2017-03-09 20:49] Eitot commented on #603
Isn’t this handled in DownloadManager as well?

[2017-03-09 20:53] josh64x2 commented on #603
Possibly... it has been a year since I looked into it :) I think there is a growl-removal branch in my fork if you want to take a look. (I'm at work 😓)

[2017-03-10 06:02] Eitot commented on #441
What are the benefits of this controller? The documentation is sparse. Cocoa bindings have the big disadvantage that they cannot be used with non-KVO properties, so we would have to type the string literals by hand  to match the bindings with the defaults keys.

[2017-03-10 06:12] Eitot commented on #544
This feature would only make sense if there was a way to mute individual feeds or folders. Sending individual notifications for each fetched article would be overkill otherwise.

[2017-03-10 08:37] TonVH opened #807 "Sorting messages"
Since no reaction on the forum. I post this here.

Presently I sort on the subject but within the same subject the individual lines are in reversed orden meaning the latest on top and the oldest bottom.

This makes reading a bit awkard.

Is there a way to sort so that within the same subject messages are sorted oldest first, newest last?

[2017-03-10 09:08] josh64x2 commented on #441
I forget the actual advantage of using that controller - we can wire `NSUserDefaults` up directly from Interface Builder using the bindings inspector.

I think it is better if we can have Interface Builder do as much for us as possible

[2017-03-10 09:15] josh64x2 commented on #791
We should probably make a list of the actual icons 😄
I'll start!

- [ ] Refresh
- [ ] Subscribe (New Feed)
- [ ] Skip Folder
- [ ] Empty Trash
- [ ] Action (Perform Task)
- [ ] Send Link (Email)
- [ ] Get Info
- [ ] Style
- [ ] Back
- [ ] Next Unread (Forward)
- [ ] Show Filter bar
- [ ] Share - Blogo
- [ ] Share - Buffer
- [ ] Share - Google+
- [ ] Share - Cocoalicious
- [ ] Share - Evernote
- [

[2017-03-10 09:32] #800 closed

[2017-03-10 10:03] josh64x2 opened #808 "Create migration script for existing vienna-rss.org subscriptions"
Based on #800 I want to create a small script in our db code to update the url for any existing `vienna-rss.org` feeds to `vienna-rss.com` so users start getting correct project news again.

[2017-03-10 10:04] josh64x2 opened #809 "[meta] v3.1.9"
Hey @Eitot & @barijaona, lets discuss the last minute changes we want in v3.1.9.
I've created https://github.com/ViennaRSS/vienna-rss/tree/legacy3.1.x at the point before I merged #795

I only want to see two more changes in v3.1.9 before we release, hopefully this weekend:
1. A duplicate of #802 pulled into `legacy3.1.x`
2. #808

Thoughts etc?

[2017-03-10 10:05] josh64x2 commented on #768
Last chance for me to get this in v3.1.9 😁

[2017-03-10 10:08] josh64x2 commented on #809
Oh yeah, view the milestone @ https://github.com/ViennaRSS/vienna-rss/milestones/v3.1.9 if you want to see the other "nice to have" fixes in it.

[2017-03-10 10:10] josh64x2 commented on #751
@Eitot any ideas what might cause this?

[2017-03-10 20:15] Eitot commented on #751
I’ll have a look. Has anyone been able to reproduce this?

[2017-03-10 20:51] Eitot commented on #751
Coincidentally, the problem is likely related. I see that the unified layout is based on a table view as well. The table rows are stretching beyond the ‘natural’ size of the table view, causing the scroll view to draw a larger canvas. It is good to know that this problem existed before Auto Layout, the problem thus might be elsewhere.

[2017-03-12 12:38] alainguerry opened #815 "Vienna 3.1.8 suddenly not working"
Vienna 3.1.8 is broken on my MacBook Air (Yosemite 10.10.5). I tried (clean install) both the GitHub and the Homebrew Cask versions.
Here is the diagnostic :
Process:               Vienna [1935]
Path:                  /Applications/Vienna.app/Contents/MacOS/Vienna
Identifier:            uk.co.opencommunity.vienna2
Version:               3.1.8 :1bc6bc3: (6065)
Code Type:             X86-64 (Native)

[2017-03-12 17:16] zackhsi opened #818 "Sync subscriptions to file"
Hey, I have a hopefully simple feature ask: can I specify in preferences a file to sync my .opml subscriptions file to?

I want to back/versions up my subscriptions with Github via this preference.

Thanks!

[2017-03-13 01:19] Eitot opened #821 "Carthage"
Just to add to #801: I have had a look at what would be required to use Carthage instead of CocoaPods. It seems that only ASIHTTPRequest and CDEvents are problematic, the rest builds just fine.

We are already planning to move away from ASIHTTPRequest and I happen to have a simple GCD-based implementation of a directory monitor that we can use instead of CDEvents (based on Apple documentation and

[2017-03-13 01:21] josh64x2 commented on #821
I agree it will be a better solution as it won't interfere with the project file.

I'll work on the network code this week - hopefully it won't be a huge task.

[2017-03-13 05:05] #808 closed

[2017-03-13 13:08] Eitot commented on #818
Do you mean a change in the default export location or some automatic export behaviour?

[2017-03-13 13:35] Eitot commented on #762
I have done some tests and unfortunately it is not as capable of dealing with Auto Layout as I had hoped. The provided Yosemite style seems to work, because it uses the same ‘hack’ that I used by enforcing an intrinsic size, but the Mavericks style does not without manually adding it. The project maintainer does not seem very active at the moment, with outstanding pull requests.

I am not sure wha

[2017-03-13 15:29] zackhsi commented on #818
The latter. I would like Vienna to update a file every time the
subscriptions change. The file would always reflect the current state of
subscriptions.
On Mon, Mar 13, 2017 at 06:08 Eitot <notifications@github.com> wrote:

[2017-03-13 23:54] josh64x2 commented on #818
@zackhsi a customised solution like you want is outside the scope of Vienna unfortunately. However you could take a look at the xml files in `~/Library/Application Support/Vienna/Sources` which contain a recent copy of each feeds xml.

[2017-03-15 06:24] zackhsi commented on #818
I don't think it would be so much a customised solution, but rather a refactor. Instead of the export functionality parsing the list of feeds, generating an opml file, and writing it to the specified location... Vienna would always keep this opml file up to date, probably in `~/Library/Application Support/Vienna/Sources` as you mentioned, and then the "export' would really just be a copy of the fi

[2017-03-15 15:21] Eitot opened #826 "Custom objects in XIB files"
I have noticed that Xcode and Instruments mark two custom objects in IB as memory leaks. Specifically [these two](https://github.com/ViennaRSS/vienna-rss/blame/master/Interfaces/Base.lproj/MainMenu.xib#L1466-L1467):
[code]

The second one was introduced by me by moving the PreferencesWindowController into MainMenu.xib. Instantiating it in code does not seem to cause this, but I want to know why. I

[2017-03-15 18:45] josh64x2 commented on #826
Oh that must have slipped in when I was trying to fix 10.8 autolayout.

I'll have a look at it properly today and see why it is leaking as having it in an object in the xib should be fine...

[2017-03-15 18:51] josh64x2 commented on #818
Oh ok sorry I misunderstood before.
It is probably a desirable feature from a backup point of view and could allow feeds to be safely stored in a mounted network or cloud volume.

[2017-03-16 03:01] Eitot opened #828 "Cocoa API deprecations (10.10+)"
Just FYI, these APIs are deprecated as of 10.10.

NSDate methods:
- [ ] `-dateWithString:calendarFormat:`
- [ ] `-dateWithCalendarFormat:timeZone:`
- [ ] `-dateByAddingYears:months:days:hours:minutes:seconds:`
- [ ] `-dayOfMonth`
- [ ] `-monthOfYear`
- [ ] `-yearOfCommonEra`

Classes:
- [ ] NSCalendarDate (replaced by: NSCalendar, NSDateComponents and NSDateFormatter)
- [x] NSRunAlertPanel (replac

[2017-03-16 03:04] josh64x2 commented on #828
I did have a look at the date functions and they seemed to be replaced by more convoluted alternatives. Mind you, I find the new Apple developer doc format VERY confusing haha.

[2017-03-16 03:06] Eitot commented on #828
That’s why I posted it here, I could not quickly figure it out either. 😅

[2017-03-16 12:22] Vaguery opened #829 "Selected article is deselected when re-sorting by date/subject"
When I select an article from the list of items in a feed (or folder) which is sorted by Subject, and then click on the Date column header to sort the same feed by Date, the article does not remain selected. Rather the same _visual row_ in the list is selected, and thus some new article.

I often work with Smart Folders where multiple articles with the same Subject line appear from different sourc

[2017-03-20 09:43] josh64x2 commented on #815
Hi there @alainguerry, is Vienna still broken?

If you feel comfortable with sending me a copy of your Vienna database I can try and debug Vienna to see what the issue is.
If you just want the issue solved, try `brew cask zap vienna`(which will delete all of the existing vienna files, including your potentially corrupted database) and then reinstall with `brew cask install vienna`.

Thanks!
Josh

[2017-03-20 10:01] josh64x2 commented on #826
Hmm I had a quick look but couldn't see anything obviousy. Did you work out what the issue was with `PreferencesWindowController` ?

[2017-03-20 12:56] Eitot commented on #826
No. I am not sure if this is really a problem or not. I assumed that instantiating the window controller in MainMenu.xib would have the same effect as in a storyboard, but it seems that this is treated as a memory leak. Given that the window controller will always be around anyway, it should not really matter.

[2017-03-20 13:04] #751 closed

[2017-03-20 20:52] Eitot opened #833 "ActivityWindow updates will cause CoreAnimation errors"
When the activity window is open and the content refreshed (command–R), then scrolling in the table view of the activity window produces many error messages of this kind:
[code]

Adding the environment variable as suggested, will produce this stack trace (on branch `master`):
[code]

A web search suggests that this error is caused by a race condition involving a CoreAnimation queue (which is execu

[2017-03-20 20:55] josh64x2 commented on #833
Great investigation! I will try to take a look at it.

[2017-03-20 20:58] Eitot commented on #833
I have just tested this:
[code]

This seems to stop the errors and show the result much quicker too. Could this be the problem?

[2017-03-20 21:46] alainguerry commented on #815
Hey thank you for your message !
Vienna kept crashing despite deleting its /Application Support/ subfolder and reinstalling the app. I also tried to restore a previous database from the backup.
But today, after reading your message, I tried to "zap the cask in brew" as you suggested, and restored an older backup. And it worked !
After all, what it needed was maybe just a simple old restart (sigh).

[2017-03-20 21:46] #815 closed

[2017-03-21 09:16] arjay67 opened #834 "Icon Shadow on new iMac"
Currently using Vienna 3.1.8 :1bc6bc3: on a late 2015 iMac (17,1) with macOS Sierra 10.12.3. Previously was using a nearly identical machine and upgraded to one with a 2TB Fusion drive. After the upgrade, the icon now appears with a square shadow around it. Attempted removing and reinstalling with no change. Certainly not a show stopper from a functional standpoint, but it is unappealing. Examples

[2017-03-21 12:02] Eitot commented on #834
Thanks for the report. This has been fixed in #749 and should be resolved in the next update.

[2017-03-22 02:06] josh64x2 commented on #834
I guess we will leave this open until @barijaona can release 3.1.9 as it has been raised a few times.

[2017-03-22 02:50] barijaona commented on #834
If nobody objects, I will release a 3.1.9 release tonight.
There are other 3.1.x pertinent changes on the way, but publicizing the new vienna-rss.com domain name seems a requirement.

[2017-03-22 02:51] josh64x2 commented on #834
@barijaona please release tonight :)

[2017-03-22 13:54] Eitot commented on #834
Please merge #831 though. Has anyone tested Vienna under Mavericks recently?

[2017-03-22 20:43] josh64x2 commented on #834
I have not... though this release will be 10.8 compatible so I should test under that tonight...

[2017-03-22 21:26] Eitot commented on #834
I have that same fix for the legacy branch, just didn’t push it yet.

[2017-03-22 22:36] josh64x2 commented on #834
OK I'll let @barijaona review and merge for v3.1.9 when he is getting the release ready

[2017-03-23 01:27] #809 closed

[2017-03-23 01:27] #834 closed

[2017-03-23 06:13] #826 closed

[2017-03-23 22:43] Eitot commented on #828
I have a PR ready for these.

Do you feel strongly about having an identical replacement for the NSCalendarDate extension? It currently has some code for creating the relative date strings, e.g. “Today” and “Noon”. NSDateFormatter can do the former automatically. However, the comments in the extension explain that NSDateFormatter was specifically not chosen in order to get capitalised words for “T

[2017-03-23 22:48] josh64x2 commented on #828
Ok I've been dealing with dates a lot lately at work so if you submit your PR I'll go through the pros and cons :) I think not having capitalised words is not a big issue...

I really admire your determination to go through Apple's documentation!

[2017-03-24 03:58] matthewreagan opened #839 "Text label runs partially into count label bubble"
Text labels in the folder outline view bump up against the edge of the count label round rectangle.

![screen shot 2017-03-23 at 8 49 16 pm](https://cloud.githubusercontent.com/assets/285737/24280082/47f494c6-100b-11e7-853b-05f30bc93e67.png)

[2017-03-24 04:02] matthewreagan commented on #839
PR submitted: https://github.com/ViennaRSS/vienna-rss/pull/840

[2017-03-25 19:13] #839 closed

[2017-03-26 00:05] #828 closed

[2017-03-26 15:04] #724 closed

[2017-03-27 10:04] #767 closed

[2017-03-28 09:45] josh64x2 opened #846 "Status bar text behaviour"
From [Cocoaforge forums](https://forums.cocoaforge.com/posting.php?mode=reply&f=18&t=26946#pr139859): Often I hover over a link in an article to see where it goes, only to have the status bar overwritten with the string, "Article load completed." It would be nice if this advisory were to be suppressed if the status bar is in actual use at the time. Thanks.

[2017-03-28 16:49] Eitot commented on #846
Perhaps it would be an idea to get rid of the status bar eventually. The fetch status is all over the place: in the toolbar, in the sidebar next to each feed, a notification and the status bar. I think it would be most useful in the sidebar. Alternatively, there could be a dialog at the bottom of the sidebar, like Mail has.
![screen shot 2017-03-28 at 18 41 05](https://cloud.githubusercontent.com/

[2017-03-28 17:38] ggruenau opened #847 "articles stay unread in both vienna and innoreader"
Since yesterday, articles stay unread in Vienna and Innoreader, even if they have been read in Vienna (right-click and mark-as-read doesn't show any effect). Only way to get articles marked as unread is to login to innoreader.com and read them there ...
Vienna Version 3.1.9 :e81515b:

[2017-03-28 17:57] Eitot opened #848 "Use Sparkle delta updates"
Now that Vienna uses Swift, Sparkle should be configured for [delta updates](https://sparkle-project.org/documentation/delta-updates/), per https://github.com/ViennaRSS/vienna-rss/pull/819#issuecomment-286014705.

[2017-03-28 19:59] ggruenau commented on #847
Vienna Version 3.1.9 :e81515b:

[2017-03-28 22:10] barijaona commented on #847
I could not reproduce the problem

[2017-03-28 22:13] barijaona commented on #847
Are you sure your Vienna app is correctly logged to Inoreader ?

[2017-03-29 07:28] ggruenau commented on #847
Its working fine again today on both my machines. Seems that it was a problem on the Inoreader platform itself. Thanks for trying to reproduce.

[2017-03-29 07:28] #847 closed

[2017-03-30 09:48] josh64x2 commented on #582
@Eitot I remembered we were going to look at using `NSStackView` after we made 10.9 the minimum. `NSStackView` would help with this feature request - do you think now is the time to implement or are there other UI changes we should do first?

[2017-03-30 09:48] josh64x2 commented on #791
Hey @Aoiike do you need any help with this? 😄

[2017-03-30 15:13] Eitot commented on #582
I have a branch somewhere, but I found that PSMTabBarControl works not better with stack views. I am holding off until I have a look at MMTabBarView.

The sidebar has a low priority for me. However, it should be easy to implement this feature request using NSScrollViews’ `addFloatingSubview` method.

[2017-03-30 15:23] mondaiguy commented on #582
Still looking forward to this enhancement. I only have 5 folders and 10 subscriptions so I have never used that field.

[2017-03-31 01:18] barijaona opened #850 "Auth error when first OpenReader request of the session requires a T token"
If you :
- disable "Check new articles on startup",
- relaunch Vienna,
- select an article in an OpenReader feed,
- mark this article read (or unread, depending its current status),
then you will get an authentication error.

[2017-04-03 10:39] josh64x2 opened #855 "Use NSByteCountFormatter to replace KB/MB"
Use `NSByteCountFormatter` as described over at [NSHipster](http://nshipster.com/nsformatter/) instead of our Strings - https://github.com/ViennaRSS/vienna-rss/blob/master/src/DownloadWindow.m#L224

[2017-04-03 10:41] josh64x2 commented on #763
Once we have worked out how best to use our [Crowdin Project](https://crowdin.com/project/vienna-rss/) I will update the translation guide.

[2017-04-03 14:15] Eitot commented on #618
@josh64x2 There are APIs to defer work to a separate background process.
https://developer.apple.com/library/content/documentation/Performance/Conceptual/power_efficiency_guidelines_osx/DiscretionaryTasks.html

[2017-04-04 09:37] #855 closed

[2017-04-05 11:36] LETRA opened #858 "PPC Version"
Hi. I have an old iMac G4 and wonder if the old version for Tiger PPC is functional. If you can tell me how to download it and if you can still work simply. A greeting.

[2017-04-05 11:57] josh64x2 commented on #858
Hi there,
I love knowing PPC macs are still getting used :)
Version 2.3.4 was the last that supported 10.4 Tiger, and you can download it from here: https://sourceforge.net/projects/vienna-rss/files/ReleasedVersions/2.3.4/Vienna2.3.4.2305.zip/download

[2017-04-06 07:10] LETRA commented on #858
And they can still be useful as well as beautiful! Many thanks!!

2017-04-05 13:57 GMT+02:00 Josh <notifications@github.com>:

[2017-04-06 07:55] #858 closed

[2017-04-07 21:32] sveinbjornt opened #859 "GB zapped web bug"
Strange issue: string "GB zapped web bug" appended to rss item text. This string is not present in the original RSS file when I curl'd it:

<img width="1029" alt="screen shot 2017-04-07 at 23 25 17" src="https://cloud.githubusercontent.com/assets/654045/24820576/14cd25b4-1bea-11e7-8cdf-4165619acf17.png">

<img width="1272" alt="screen shot 2017-04-07 at 23 30 28" src="https://cloud.githubuserconte

[2017-04-09 00:40] josh64x2 commented on #859
Hmm that's weird. I'm not able to reproduce. Would it be possible for you to delete fhe feed, re-add it to Vienna, and see if the problem is still occurring?

[2017-04-09 01:21] sveinbjornt commented on #859
Deleted feed, re-added and same thing occurs.

[2017-04-09 01:26] sveinbjornt commented on #859
When I look at the source in Vienna via Show XML Source, the feed XML has a comment "" appended to the description tag.

[2017-04-09 01:28] josh64x2 commented on #859
OK, which version of Mac OS and Vienna are you using?

[2017-04-09 01:33] josh64x2 commented on #859
This old bug report suggests it's due to the use of glimmer blocker: https://www.cocoaforge.com/viewtopic.php?f=18&t=23854

are you using glimmer blocker?

[2017-04-09 10:19] sveinbjornt commented on #859
Yes, I am using GlimmerBlocker. Disabled it and the problem disappeared.

[2017-04-09 10:19] #859 closed

[2017-04-11 15:07] tonycpsu opened #861 "Can't mark any articles as read"
As of today, I can no longer mark any articles as read.  I use InoReader as my feed backend.  Things I've tried to resolve the problem include restoring my `~/Library/Application Support/Vienna` directory from time machine backups, reindexing the database, and force-refreshing feeds from the feed's right click-menu.  Nothing changes -- articles are not marked as unread when I visit them, nor when

[2017-04-11 22:48] tonycpsu commented on #861
And now it's working.  I suspect a problem on InoReader's end.

[2017-04-11 22:48] #861 closed

[2017-04-11 23:12] josh64x2 commented on #861
@tonycpsu inoreader has these problems time to time. We should look into displaying an informative message if inoreader has failed to update the mark as read.

[2017-04-15 05:04] josh64x2 opened #862 "Get Info for Subscription does not work on 10.8 or 10.9"
First reported over at the forums: https://forums.cocoaforge.com/viewtopic.php?f=18&t=26957
Seems to be related to `SNDisclosableView` and related classes...

Console messages (from 10.8.5):
[code]

[2017-04-15 05:08] josh64x2 commented on #862
@Eitot are you able to confirm on 10.9 if you still have it installed?

[2017-04-15 15:47] Eitot commented on #862
I'll check later. Is this working in 3.1.8?

[2017-04-16 02:31] josh64x2 commented on #862
OK I installed 10.9 and the same problem with the same console logs.
It's working in 3.1.8 but not in 3.1.9.

[2017-04-16 18:24] Eitot commented on #862
From the logs it looks as though there is a missing dependency. Maybe it has to do with the use of modules and automatic framework linking. Not sure why this affects Mavericks though and only in this particular case.

[2017-04-16 18:39] Eitot commented on #862
This error is also logged in Xcode on Sierra. I will try building from a few older commits to trace the error.

[2017-04-16 18:53] Eitot commented on #862
Found it: https://github.com/ViennaRSS/vienna-rss/commit/aeef70dcdf5bb65828641978a31a341ff2cbe29a#diff-e957fc051af3f61dcf1ab78a80472b93L1792.

I accidentally removed the manual link when I applied the commit to the legacy branch. The DisclosableView framework had already been removed on the master branch.

[2017-04-16 20:45] josh64x2 commented on #862
Oh great job! I did have a look at the modules in interface builder but without them being linked it didn't solve anything 😜

[2017-04-17 01:18] Eitot commented on #862
Fixed in #863.

[2017-04-17 01:18] #862 closed

[2017-04-17 15:05] barijaona opened #866 "Implementation of Activity window might be improved"
As discovered with @josh64x2 while discussing #864 : on current `master`, if Activity Window is opened before a feed refresh, it just remains blank.

You can check that by disabling "Check new articles on startup" in Preferences ; relaunch Vienna, then open Activity Window and refresh feeds.

On examining code, I also noticed that some notifications are emitted but not handled : `activityItemStatu

[2017-04-17 18:16] Eitot commented on #866
There is a missing KVO notification. The table is not updated when an item is inserted. Not sure what to do about the initial fetch though. The reason why I made the changes is to get rid of unnecessary coupling between the classes.

[2017-04-17 22:30] barijaona commented on #866
How about setting ActivityPanelController's `activityLog` on first item insertion instead of [on window loading](https://github.com/ViennaRSS/vienna-rss/blob/master/src/ActivityPanelController.m#L52-L53) ?

[2017-04-17 23:14] josh64x2 commented on #866
This should all be handled by the NSArrayController binding in the xib file. I'll have a look at it tonight if I have time.

[2017-04-22 15:58] DavidMunch commented on #724
Had my first crash in a long while. Posting it here, as I assume it is related.
[ViennaCrash.txt](https://github.com/ViennaRSS/vienna-rss/files/949103/ViennaCrash.txt)

[2017-04-23 05:24] josh64x2 commented on #724
Yup looks like the layer related stuff again. Lets see if the next release is buggy after I review and merge #864

[2017-04-23 15:31] tnorthcutt opened #867 "[outdated link on site] "Missing A Feature" page links to Sourceforge"
The "[Missing A Feature? Get It Done!](http://www.vienna-rss.com/?page_id=40)" has a link pointing to [https://vienna-rss.sourceforge.io/?page_id=16](https://vienna-rss.sourceforge.io/?page_id=16), while the newer version of that page lives at [http://www.vienna-rss.com/?page_id=16](http://www.vienna-rss.com/?page_id=16).

![image](https://cloud.githubusercontent.com/assets/796639/25314771/6e07978

[2017-04-24 07:50] josh64x2 commented on #867
Thank you for reporting this :) It should be fixed now...

[2017-04-24 07:50] #867 closed

[2017-04-24 22:39] tnorthcutt commented on #867
@josh64x2 ᕕ( ᐛ )ᕗ

[2017-04-25 10:35] evanmiltenburg opened #869 "Merge feeds"
I follow several different arXiv feeds, but articles that are cross-listed appear in both feeds. It would be really cool to be able to merge the two feeds and de-duplicate the items that have the same URL.

[2017-04-25 18:54] Aoiike commented on #791
Okay, I've been a lot busier than I expected so it took me a while to get back, I reworked all the icons to fit within 19x19, and look better at 3x.

The list of Icons done so far is:

- Previous
- Next
- Horizontal View
- Vertical View
- Continuous View
- New Feed
- Mark Folder/Feed Read
- Sync (Refresh All)
- Cancel Sync
- Empty Trash
And for the Sidebar
- Generic RSS Feed
- Folder
- Smart Folde

[2017-04-25 20:05] RobFog commented on #791
Neat!

[2017-04-26 09:14] josh64x2 commented on #791
Thank you so much :)

[2017-04-26 12:48] Eitot commented on #791
How does this look when the article list is on the left side rather than at the top?

[2017-04-26 20:10] Aoiike commented on #791
Pinned above both, like this
![layout-1](https://cloud.githubusercontent.com/assets/26124815/25454263/c14b8456-2ac3-11e7-8526-18c1cb7f3bdb.png)

I also remembered what I didn't mention, the Sidebar's Search is hidden in the overscroll like in Safari and Notification Center.

[2017-04-26 20:41] Eitot commented on #791
Putting the search box into an overflow area is not really doable with the components that Apple provides. I’ve looked at this weeks ago and I noticed that it cannot be done without some IMO nasty workarounds and I probably would not be very elegant. The fact that we still support Mavericks makes things more difficult. This is a lot easier on iOS where NSSearchController provides for this function

[2017-04-28 08:24] Aoiike opened #871 "Streamlined Style selection"
In the current version of Vienna, the option to use the Web Version of Articles is referred to as
"Load Full HTML Articles" in the Folder Menu as one of two selectable options
"Use Web Page for Articles" in the Info Window as a Checkbox
Which is a little confusing, and Styles cannot be set per-Feed or per-Folder.

Goals of this idea:
1. Per-Feed and per-Folder Style setting, you can have one feed

[2017-04-28 10:08] josh64x2 commented on #871
I like these proposed UX changes! Thank you 😄

[2017-04-28 17:58] Eitot commented on #871
I agree with the menu and info panel changes, but am slightly opposed to moving the style menu to a separate bar and fully opposed to making that bar a static component. The toolbar is by no means a ‘global menu’; it can, and does, change depending on its context. Vienna currently does not implement all these toolbar items correctly, which is something I want to address at some point.

[2017-04-28 21:43] barijaona commented on #871
Setting a default style for new feeds/folders would therefo be needed in Preferences.

[2017-04-29 12:10] diimdeep opened #873 "Feed pagination"
Is it supported ?
AFAIK RSS and Atom spec don't describe pagination, still there is implementations..

For example in Wordpress `https://example.com/?feed=rss2&paged=#` [src](https://wordpress.stackexchange.com/questions/108185/pagination-of-rss2-feed)

[2017-05-04 15:24] Eitot commented on #873
Is this not a server-side thing only? Vienna only fetches the contents of the feed from the given URL. If the server presents only the contents of ‘page 2’, then that is what Vienna will show.

[2017-05-04 18:31] barijaona commented on #833
Can anyone have a look at my branch [issue833ter](https://github.com/barijaona/vienna-rss/tree/issue833ter) ?
It undoes parts of pull request #864 that @josh64x2 does not like and uses a different approach.

What I don't understand at all is :
- why the following scheme does not fix the issue :

[code]

- while the following scheme seems OK ?

[code]

They seem functionally equivalent to me, but o

[2017-05-07 01:46] Eitot commented on #866
I am just not happy with the design of the activity log. It seems to me that it has architectural problems throughout. Instead of inserting or updating objects in the `allItems` array directly, GoogleReader et al. retrieve a single ActivityItem using `-itemByName:`, then update its properties. ActivityItem itself then sends a notification when a property is changed. What happens is this:

1. Activ

[2017-05-07 03:46] barijaona commented on #866
Yes, give it a try.
As PR #872 and #875 have been submitted for a week now and have no known issue, I will merge #875 now so you will have a stable GoogleReader as a basis of your work.

[2017-05-07 03:58] barijaona commented on #866
@Eitot, is it possible for you to give us a feedback regarding your work on this during the next week ?

As I said, I prefer `master` to include an average (but reversible) solution than having no solution at all. So, if your work will take time, I would merge #876 and submit the improved workaround for #833.

[2017-05-07 11:42] giannigdev opened #877 "Can't open anymore the Vienna App after I have added a subscription"
The Vienna App continues to crash, do you guys have any idea about why it's crashing? i have attached the crash report:

[Vienna_2017-05-07-133307_Giannis-MacBook-Pro.crash.zip](https://github.com/ViennaRSS/vienna-rss/files/981550/Vienna_2017-05-07-133307_Giannis-MacBook-Pro.crash.zip)

Both buttons lead to crash of the app. If there is some way to save my subscribtions before reinstalling the App

[2017-05-07 12:58] Eitot commented on #866
I will try out several solutions in the next couple of days. I did have a KVO-based solution ready that seems to work as well.

I think one of the problems is ActivityLog itself. It makes little sense to have it being created and then live on as a singleton, even if the user may never open the activity log in the first place. This is the reason why the panel is not populated when the window first

[2017-05-07 13:06] Eitot commented on #877
The crash report is not very specific, unfortunately. It does not show where Vienna is at fault. Can you remember what you did before the crash occurred?

[2017-05-07 17:00] giannigdev commented on #877
I was adding an rss to a group folder. After that i pressed the arrow to expand that folder, but it didn't expand(i am sure that folder had different rss inside except the one i was adding). Then i pressed again the arrow - > the group folder disappeared from the list and the crash occurs.

[2017-05-07 23:15] barijaona commented on #877
Did you try removing the preferences file ?
~/Library/Preferences/uk.co.opencommunity.vienna2.plist

This might also help : http://forums.cocoaforge.com/viewtopic.php?t=26313&p=137346#p137346

[2017-05-08 00:56] barijaona commented on #866
Personnally, I’d feel safer with transient informations not being stored in the database itself.

[2017-05-08 07:48] giannigdev commented on #877
I have realised what is the error. If you try to add this feed ( http://www.cleverhans.io/feed.xml ) in a group folder it crashes. I have checked the feed and it doesn't contain anything, so i guess this is the reason why Vienna App crashes. Is there a check if we have added a valid feed or not?

[2017-05-09 01:43] barijaona commented on #877
The culprit is the empty feed name in the database 😈

![sans_titre](https://cloud.githubusercontent.com/assets/442030/25832169/af81b292-3471-11e7-8ace-c2dcfdfd200a.jpg)

Temporary workaround : replacing the (NULL) value with something sensible.

[2017-05-09 08:11] giannigdev commented on #877
So if i understand correctly the feed name is stored in the foldername field of the DB. I think it's essential to check that a field it's not null before doing any operation, so the user is informed that is trying to add an invalid feed.

[2017-05-09 23:45] josh64x2 commented on #877
Yup I can work on it if someone else isn't already

[2017-05-10 01:27] barijaona commented on #877
Please do !

[2017-05-10 01:47] barijaona opened #879 "OpenReader : sync group folders with changes made at the server level"
As described at https://forums.cocoaforge.com/viewtopic.php?f=18&t=26965 : if, through the service's web interface or another app, you modify the label(s) attached to a feed, Vienna does not reflect the changes.

Need to modify GoogleReader's loadSubscriptions/subscriptionsRequestDone:

[2017-05-10 07:44] giannigdev commented on #877
@josh64x2 thanks for your time ;)

[2017-05-15 01:20] Eitot opened #880 "Sparkle Autoupdate app not code-signed"
I noticed that the app within the Sparkle framework is not code-signed, even though the framework itself is. Is this something that should be addressed? From what I understand, all bundled executables should be signed separately too.

[2017-05-15 22:51] josh64x2 commented on #866
Sorry everyone, I am on vacation until the 23rd May so I have limited availability.
I guess we need to decide what functionality we want from the Activity log and what the original intent was.

1. Is it meant to keep a record of everything that has happened since Vienna was opened for that session?
2. Is it meant to aid in debugging Vienna at all?
3. Is the activity log meant to persist in event o

[2017-05-16 17:10] barijaona commented on #866
No, it is meant to keep track of what has happened during last refresh

It is not intended for debugging Vienna, it is intended to help you debug your subscription list ; especially, understanding feeds in error or feeds which are not refreshing.

No.

Yes, the previous information should remain visible while no new refresh attempt has occurred.

[2017-05-16 18:40] Eitot commented on #866
The log does seem to have one other purpose: show how much has been fetched since the last time.

What if the user chooses not the fetch at startup or has no Internet connection before the first fetch occurred? Why should that information not be there after a restart? The user ought to expect that the application is resumed as much as possible nowadays.

Vienna already shows failures in the sideba

[2017-05-17 01:26] barijaona commented on #866
I would then expect to have some date informations, because connection settings and location could have changed since last refresh attempt, especially when using a notebook

Console is not user friendly at all.
The sidebar icon is helpful to warn you that there is a problem, but is not sufficient to understand what is the nature of the problem : connection / authentication / XML parsing / 404…
I’d

[2017-05-21 20:57] Eitot opened #885 "Accessibility method deprecation"
NSObject’s [`-accessibilitySetOverrideValue:forAttribute:`](https://developer.apple.com/reference/objectivec/nsobject/1535843-accessibilitysetoverridevalue?language=objc) is deprecated as of Yosemite. I am not sure how to replace this, as I have zero experience with the accessibility features.

[2017-05-22 21:45] barijaona opened #889 "Add support for JSON Feed"
JSON Feed is a new format - similar to RSS and Atom but in JSON.
It has potential to get traction because JSON is simpler to implement and test than XML, and the data model already contains nearly all fields that most feeds need, without requiring complex methods to generate a summary, main image and so on.

More info: [jsonfeed.org](https://jsonfeed.org/).
If we implement support of JSON Feed, we

[2017-05-22 23:08] Eitot commented on #889
Perhaps a bit too novel?

[2017-05-22 23:31] barijaona commented on #889
Yes, we have the usual egg and chicken dilemma… but it is already supported on [many popular publishing tools](https://jsonfeed.org/code) and at least [another Mac newsreader](https://betamagic.nl/blog.html).

I am slightly worried by the slow decline of RSS support by mainstream medias, so implementing JSON feed early would be :
- a statement that feeds are an important feature for many people
-

[2017-05-23 04:33] josh64x2 commented on #889
Well I'd keep it out of `GoogleReader` class because the responsibilities are totally different.

[2017-05-26 01:31] Eitot opened #893 "XML source window"
The XML source window doesn't seem to behave that well. Depending on the size of the file, it can be a bit unresponsive when it loads and when the user scrolls. It also doesn't necessarily present the format in a readable manner, as it makes almost no changes to the layout, such as by adding indentations or line breaks, or remove superfluous whitespace, to improve readability. I also don't find th

[2017-05-26 02:33] pukku commented on #893
I like being able to see what Vienna is operating on. I have a few times been able to identify an issue with a feed causing Vienna to not parse things properly by using the XML Source window. (I think at least once it was because there was an HTML5 video tag, without the tailing '/', in the source of the article, which therefore made it invalid XML.)

That being said, what I actually want is just

[2017-05-26 02:55] Eitot commented on #893
A copy of the XML file is stored in the user library at ~/Library/Application Support/Vienna/Sources. The XML window is basically just a viewer for this file, with some [minor text replacements](https://github.com/ViennaRSS/vienna-rss/blob/master/src/XMLSourceWindow.m#L80-L86). For the most part it just prints the raw source as retrieved from the server and adds syntax highlighting.

Malformed or

[2017-05-26 16:25] Eitot commented on #889
From what I can see, XML parsing is done by the RichXMLParser class. For once, this seems to be quite nicely done, as it is only really used by RefreshManager and coupled across the place. This means that it should be straightforward to add a JSON complement to RichXMLParser.

It may be a good idea to add a parser protocol or superclass to account for potential implementation differences between b

[2017-05-31 19:28] cixonline commented on #893
XML Source was added because when the parser was being written, the number of edge cases was huge and resolving them not only required users to send me the source but often I had to forward them to the site owner to fix the generation on their side. It doesn't really need to be on the popup menu though. A button on the Info page would be easier.

- Steve

[2017-05-31 20:32] Eitot opened #898 "ExportTests fail"
They seem to have been failing for a while, according to the Travis logs.

[code]

[2017-05-31 21:43] josh64x2 commented on #898
Yeah I think I should fix this now I have more time 😄

[2017-06-01 17:16] #763 closed

[2017-06-06 13:26] Eitot commented on #889
Swift 4 has native encoding/decoding support for JSON and other formats. They demonstrated this and it looks very interesting and useful. Will be doing some tests while working on #798. Might be worth delaying support for JSON feed until 10.13 release.

[2017-06-08 10:08] josh64x2 opened #903 "Tiny RSS syncing"
Documentation available here:
https://tt-rss.org/fox/tt-rss/wikis/ApiReference

Once I have finished getting rid of ASIHTTPRequest (I know it is taking me a long time...) then it might be time to look at it.

[2017-06-08 17:25] mondaiguy opened #904 "Clicking Next Unread when there's only one unread article left"
If you only have one unread article left and it's not in the subscription that you have selected at the time, pressing the Next Unread button or invoking that command some other way doesn't take you to that unread article. You have to manually change to that subscription and click the article to read it.

[2017-06-09 01:39] #744 closed

[2017-06-09 02:07] Eitot commented on #429
WKWebView solves this problem.

[2017-06-09 20:37] Eitot opened #905 "Emptying trash upon termination"
The user receives this dialog when attempting to quit Vienna with items in trash:
![screen shot 2017-06-09 at 22 29 53](https://user-images.githubusercontent.com/15073177/26993423-3fc699d0-4d63-11e7-8bfb-e239ee3a609b.png)

Interrupting the termination process is something that Apple moved away from since Lion. Instead, the user should be able to quit immediately and resume the activity when the ap

[2017-06-10 02:41] barijaona commented on #429
It is already solved by recent versions of OS X (Apple changed the behavior).

So, now, Vienna is lacking a cookie manager… 😸

[2017-06-10 09:37] poweruser82 commented on #429
I'm still on Yosemite. I hope I can update soon

[2017-06-12 07:38] josh64x2 commented on #898
OK I can see why it is failing now :P There is no database on the travis CI server to actually export the feeds from and so exporting returns 0 feeds!

[2017-06-12 22:35] josh64x2 commented on #893
I think it would be fine to remove the XML Source window for now, and maybe just have a button on the info page as Steve suggested, but the button can "Show in Finder" the XML file in `~/Library/Application Support/Vienna/Sources`.

[2017-06-13 00:46] Eitot opened #908 "InfoWindow objects are never deallocated"
When the user opens an info window for a feed, an InfoWindow class (NSWindowController) is instantiated and added to an array owned by the singleton InfoWindowManager. Then, the window is created and shown. However, the InfoWindow is never released when the window is closed.

[2017-06-13 13:25] Eitot commented on #893
The window has been removed. Instead, a button can now be found in the Info window where the user can open the file in their default XML handler (or TextEdit).

We should reconsider this in the future if we have some more time to spend on refactors/improvements.

[2017-06-13 13:25] #893 closed

[2017-06-15 02:09] Eitot opened #913 "Combo box is not visible in the preferences window"
![screen-shot-2017-06-15-at-12 01 50](https://user-images.githubusercontent.com/15073177/27162217-5e26aa66-5180-11e7-9712-27f59555adbb.png)

[2017-06-15 20:42] Eitot commented on #399
Is this still happening on `master`?

[2017-06-15 20:44] Eitot commented on #603
Closed by #874.

[2017-06-15 20:44] #603 closed

[2017-06-15 20:50] Eitot commented on #542
Xcode 9 has better support for strings dictionaries that would make it work with the XLIFF export/import feature.

[2017-06-20 23:14] Eitot commented on #262
(@josh64x2) Just for reference: [Migrating an app to a sandbox](https://developer.apple.com/library/content/documentation/Security/Conceptual/AppSandboxDesignGuide/MigratingALegacyApp/MigratingAnAppToASandbox.html).

[2017-06-21 17:54] Eitot opened #921 "Vienna causes a font download request"
Per [this forum thread](http://forums.cocoaforge.com/viewtopic.php?t=26973):

I can confirm this issue, I have seen it once before. My guess is that a web-view is causing this, based also on [this report](https://stackoverflow.com/questions/41234444/prevent-prompt-to-download-font-referenced-in-webview-in-macos-application) at StackOverflow. I do not know whether this is particular to WebView as o

[2017-06-25 06:30] barijaona opened #924 "Deleting article from smart folder or filtered folder does not work"
See http://forums.cocoaforge.com/viewtopic.php?t=26908&p=139682
and https://forums.cocoaforge.com/viewtopic.php?t=26932&p=139807

[2017-06-25 16:29] Eitot commented on #791
@Aoiike: I have managed to separate the toolbar. It should be easy now to use the default NSButton look with template images. Would you be willing to submit the toolbar icons?

[2017-07-01 09:20] DavidMunch opened #929 "Renaming feeds/folders looks awful"
Renaming feeds and folders produce an editing field overlay with a different font size, instead of editing the name inline. It looks pretty bad. :)

![viennarenaming](https://user-images.githubusercontent.com/3511519/27760772-a37a9fe2-5e4f-11e7-89b1-5a04af8c98f7.jpg)

Vienna 3.1.10, but not a new issue.

[2017-07-01 19:38] Aoiike commented on #791
An update to the list, I added Skip Next and Skip Previous buttons
![arrows](https://user-images.githubusercontent.com/26124815/27764544-fddba726-5e93-11e7-83d9-3560e77115a5.png)

I think it would be very useful to enable holding the Option key to switch the standard Next/Previous Buttons into the Skip N/P versions, and the Skip N/P buttons to the regular Next/Previous, it would add a lot of custo

[2017-07-08 01:41] josh64x2 commented on #924
@barijaona do you think this has been fixed with your recent commits?

[2017-07-08 01:43] barijaona commented on #924
Yes. I just forgot to close the issue.

[2017-07-08 01:43] #924 closed

[2017-07-08 02:41] barijaona commented on #904
Fixed by #925

[2017-07-08 02:41] #904 closed

[2017-07-08 02:47] #850 closed

[2017-07-08 02:49] barijaona commented on #833
Fixed by #890

[2017-07-08 02:49] #833 closed

[2017-07-08 02:54] barijaona commented on #807
I am not sure I understand what is the issue. Can you add a screenshot or give the URL of an example feed ?

[2017-07-08 04:12] barijaona commented on #785
We already refer to the http://search.yahoo.com/mrss/ namespace for enclosures, but this would require adding support for both `<media:group>` and `<media:description>`

[2017-07-08 04:28] barijaona commented on #735
Seems to have been fixed now

[2017-07-08 04:28] #735 closed

[2017-07-08 04:35] barijaona opened #933 "Re-import localisations from Crowdin"
Commit 3f4c2e1b0dd67f779fdd8be7df92af5ffadb77fb broke localization of the label attached to the Filter menu.

Running the french localization, it looks like this :
![menubar_et_vienna__55_non_lus__et_vienna-rss__branch__master_](https://user-images.githubusercontent.com/442030/27982635-7bb5597e-63af-11e7-8380-31ff54e64e7c.png)

Should be "Filtrer par :" instead of "Filter by:"

[2017-07-08 06:46] Eitot commented on #933
I still have to re-import all the localisations from Crowdin. With the many changes I plan to do the next weeks, I will do this at the last moment.

[2017-07-08 07:22] TonVH commented on #807
Presently one can sort on a single column. So either subject, date/time, and so one.

What I would like is sorting on 2 columns. First on subject and then (within subject) on date/time. This is especially usefull with forums because then messages will appear on correct sequentence within the same subject.

[2017-07-08 16:21] Eitot commented on #807
Does anyone know if this can be done in NSTableView? I don't think I have ever seen this. The request makes perfect sense though.

[2017-07-08 18:18] JanX2 commented on #807
@Eitot Sorting on multiple columns is already there by default. You just sort in ascending order of precedence. Whenever there is a collision/equality in one column it will be resolved by the previous column/the one taking less precedence.

[2017-07-08 18:36] Eitot commented on #807
I meant whether NSTableView provides a user-controllable interface for this. Columns are usually sorted by clicking on the column's header row, but this only applies to a single column in the whole table view. I know that you can implement this in the model, but I have not seen an implementation, at least not in Apple's apps.

[2017-07-08 20:37] barijaona commented on #933
Three remarks :

1. Personally, I'd prefer we re-import the localisations from time to time. It makes things easier for translators in identifying the context.

2. I might be missing something obvious, but I reimported on my local copy the (finished) french translation and the problem remain

3. we'd better check now all texts in Localizable.strings which end with "_title_", "_text_" or "_body_".

[2017-07-08 21:29] Eitot commented on #933
1. It is tedious work, because you have to import each language separately. We'd have to create some helper script, it is still on my list.
2. Have you built the localisations on Crowdin? I see that the last build is from 2 months ago. The XLIFF files have to be compiled from the database.
3. That should indeed happen, but we'd have to change the translation keys manually.

[2017-07-08 22:00] barijaona commented on #933
2/ Thanks for the tip. I reimported the french version on my [local copy](https://github.com/barijaona/vienna-rss/tree/localization-test) and the result is a curious mix of french and english. Example :
![vienna__12_non_lus__et_vienna-rss__branch__localization-test_](https://user-images.githubusercontent.com/442030/27989441-87c35bd4-6441-11e7-9f8e-c46b959eeb6a.png)

3/ This is why I think we shoul

[2017-07-08 22:15] josh64x2 commented on #933
@barijaona there are lots of UI changes coming up, it would be a waste of time to reimport them now as they would need to be changed again not long after. These UI changes are more important for the future maintainability of Vienna and so this is a small price to pay especially considering we will not be making a public release from `master` any time soon.

Let's wait until after the UI changes ha

[2017-07-08 22:16] Eitot commented on #933
It appears that these particular strings are not marked as localisable in the source code, neither on master nor on legacy. They simply aren't exported and therefore not on Crowdin either. I cannot say why this worked before, but Crowdin exposed a problem in the source code.

[2017-07-08 22:25] barijaona commented on #933
Yes, my point was not to reimport everything, but to test with French if we did break something in between. At a time, we had the [localiseMenus](https://github.com/ViennaRSS/vienna-rss/blob/legacy3.1.x/src/AppController.m#L269-L296) method, but we switched philosophy in between…

[2017-07-08 22:27] Eitot commented on #933
Addendum: I think the problem is this.

The mentioned strings are created [here](https://github.com/ViennaRSS/vienna-rss/blob/master/src/ArticleFilter.m#L101-L107) (note the lack of `NSLocalizedString`):
[code]

Now, these strings are used [here](https://github.com/ViennaRSS/vienna-rss/blob/master/src/AppController.m#L1645-L1660), but wrapped in `NSLocalizedString`:
[code]

This is a misuse of `NS

[2017-07-08 22:34] barijaona commented on #933
Another method worth mentioning is `-localiseHeaderStrings` in TableViewExtensions

[2017-07-08 22:41] Eitot commented on #933
There are more:
- AppController.m
- Database.m
- NewSubscription.m
- PluginManager.m
- SyncingPreferencesViewController.m

[2017-07-08 22:48] barijaona commented on #933
Yeah… looks like, at the times of Vienna 2.0, the philosophy was notably different from today's dominant one : much more UI was created programmatically, and the dynamic nature of Objective-C was used for cool tricks 😸

[2017-07-09 08:18] Eitot commented on #933
Anyone picking this up? I still have to wrap up #930 and have already a follow-up on that one.

[2017-07-09 16:20] barijaona commented on #933
I’ll have a look at it.
I would not be too assertive regarding timeline : let’s have a public beta first, and wait feedback…

[2017-07-10 09:25] JanX2 commented on #807
That’s what I was referring to, @Eitot: The property `sortDescriptors` of `NSTableView` is an `NSArray`of `NSSortDescriptor`objects. You set this up, from a user perspective, by first clicking the column header with the least precedence and then continuing on up to the column header who’s column has the highest precedence.

To implement support for this, which is already in place in the framework-

[2017-07-10 12:52] cixonline opened #934 "End of sync loses current article from 'Unread Articles' smart folder"
This looks like a regression in 3.1.11.

Normally I stay in the Unread Articles smart folder to read unread articles. If I'm reading an article and a sync occurs, then the article I'm reading suddenly disappears from the list. I have the option set to mark articles as read after a short delay which likely contributes to the whole problem. Switching to marking unread after using the Next Unread com

[2017-07-10 23:25] josh64x2 commented on #846
Related to PR #936

[2017-07-13 10:19] DavidMunch opened #937 "Vienna can't be downloaded from Vienna-RSS.com"
As [pointed out](https://forums.cocoaforge.com/viewtopic.php?f=18&t=26985) on the Cocoaforge forums by a user, the website at Vienna-RSS.com doesn't actually have an active download link for the newest release for Vienna, which is a great oversight!

The user complains that he has to get the latest releases from sites such as Macupdate.com, which is to put it mildly, not in any way optimal, especi

[2017-07-13 10:24] josh64x2 commented on #937
Argh good point.
I got sidetracked about the new site and so the temporary one is still up! i'll add a link.

[2017-07-13 10:40] josh64x2 commented on #937
OK I've added a blog post and a link at the top of the page which points to the latest github release. And hopefully I'll get around to getting a proper website up one day soon 😄

[2017-07-13 10:40] #937 closed

[2017-07-13 16:44] Eitot opened #938 "Fix Auto-Layout issue on StdEnclosureView"
Per #936, the StdEnclosureView on ArticeListView currently conflicts with and obscures the status bar, despite both being in separate view hierarchies. The solution is to make sure that the enclosure view pushes the ArticleView up. This can be achieved by putting both in a stack view and then adding the enclosure view at runtime.

![screen shot 2017-07-13 at 18 40 54](https://user-images.githubuse

[2017-07-13 17:34] Eitot commented on #938
I already have a working solution. The stack view was indeed a simple fix. Will be pushing a PR once the other two are merged, to avoid merge conflicts.

[2017-07-15 10:40] #913 closed

[2017-07-15 13:08] Eitot commented on #933
I have uploaded the source strings and existing translations again on Crowdin. Once the changes are made in code, I can export the hopefully complete translation files.

[2017-07-15 13:44] Eitot commented on #672
#930 should have solved this.

[2017-07-15 13:44] #672 closed

[2017-07-15 15:19] Eitot opened #943 "Sparkle analytics"
Vienna is currently configured to ask the user for permission to send some anonymous data alongside update checks. This isn't currently used server-side though.

Given the obtrusiveness of the alert when Vienna is launched for the first time, I think we should decide whether the alert and user preference should remain in the code.

[2017-07-15 19:06] barijaona opened #944 "Weird behavior of criteria menu"
When one tries to edit a smart folder, duplicate or blank choices appear for criterias applicable to some types of data (date, subject)
<img width="697" alt="vienna__2862_unread_" src="https://user-images.githubusercontent.com/442030/28242010-499ed596-69a9-11e7-8f02-73061fdef66c.png">

[2017-07-15 21:26] Eitot commented on #944
I cannot reproduce this on `legacy`.

[2017-07-15 22:43] josh64x2 commented on #944
Yeah, looks to only be an issue on `master`

[2017-07-15 22:43] josh64x2 commented on #943
I would support removing it. We can always add it later if we decide to collect analytics again.

[2017-07-15 22:52] josh64x2 opened #946 "Refresh icon missing on macOS 10.9"
The screenshot shows 10.9 at the top compared to 10.12 at the bottom.

![mavericks-toolbar](https://user-images.githubusercontent.com/799345/28243176-0e73c048-6a04-11e7-8a62-a818425c6844.png)

[2017-07-15 23:14] #320 closed

[2017-07-16 00:26] #938 closed

[2017-07-16 09:02] barijaona commented on #933
Seems not to be fixed by reimport of translation files after #940.

[2017-07-16 09:25] Eitot commented on #933
It wasn't supposed to fix anything, just to make sure that the strings database matches master. We still need to get rid of the dynamic NSLocalizedString before Xcode exports/imports the strings.

[2017-07-17 02:49] barijaona commented on #933
The problem is not related to Vienna code, but to Crowdin import and export.
If I use a text editor to modify the `fr.xliff` file exported by Xcode then directly reimport it, the updated translations load correctly.

With the `Vienna RSS.xliff` file downloaded from Crowdin, I need to hack the `<file original=` and `<trans-unit id=`> attributes to be able to reimport correctly the updated translati

[2017-07-17 04:45] Eitot commented on #933
Give me a concrete example, please. I do not see what you mean.

If Vienna would correctly identify all the localisable strings upon export, the XLIFF file uploaded to Crowdin would be complete and have the correct IDs to begin with. Manual manipulation of the XLIFF file is what we want to avoid.

There is no way around rewriting the code to make sure that the XLIFF tool of Xcode works as intended

[2017-07-17 19:22] Eitot commented on #288
Curious, `validateMenuItem(_:)` in MainWindowController is never called for this selector. Let me try something.

[2017-07-17 19:32] Eitot commented on #288
A quick fix is to implement `validateMenuItem(_:)` in a subclass of NSWindow. It seems that the controller never receives this selector. I have yet to figure out how to best use the responder chain, so I will keep this issue open for now.